@charset "UTF-8";
/*!
*  filename: ej.reportdesigner.theme.css
*  version : 17.2.0.34
*  Copyright Syncfusion Inc. 2001 - 2019. All rights reserved.
*  Use of this code is subject to the terms of our license.
*  A copy of the current license can be obtained at any time by e-mailing
*  licensing@syncfusion.com. Any infringement will be prosecuted under
*  applicable laws.
*/

/* need verify with UX team*/
/*-----------------------Map------------------*/
/*-----------------------PdfViewer------------------*/
/*-----------------------End PdfViewer------------------*/
/*----------------------OLAP Definition------------------*/
/*----------------------Reportviewer Definition start------------------*/
/*----------------------Reportviewer Definition End------------------*/
/*----------------------Reportdesigner Definition Start------------------*/
/*----------------------Reportdesigner Definition End------------------*/
/*-----------------------SymbolPalette Definition-----------------*/
/*-----------------------Diagram Definition-----------------*/
/*-----------------------Datepicker Definition-----------------*/
/*-----------------------Bootstrap support-----------------*/
/*----------------------Ribbon Definition-----------------------*/
/*----------------------Ribbon End-----------------------*/
/*----------------------File Explorer Start-----------------------*/
/*----------------------File Explorer End-----------------------*/
/*----------------------Kanban Definition-----------------------*/
/*----------------------Kanban End-----------------------*/
/*----------------------Spreadsheet Definition-----------------------*/
/*----------------------Spreadsheet End-----------------------*/
/*----------------------Office 365 theme-----------------------*/
/*----------------------High-Contrast-01 & High-Contrast-02 theme-----------------------*/
/*----------------------material theme-----------------------*/
/*----------------------rangeScrollbar Start------------------*/
/*--------------- common ----------------- */
/*---------------high-contrast ------*/
/*---------------- Office-365 ----------------*/
/*------------------ material theme ---------------------*/
/*-----------------------HeatMap Definition-----------------*/
/* Common style */

.e-content-area {
  background-color: #111111;
  color: white;
  border-color: #494949;
  font-family: Segoe UI, Helvetica Neue, Ubuntu, Arial;
}
/*------------------------------reportdesigner Theme Start-------------------------------*/

/*----------------------ReportDesigner Font Icons----------------------*/

.e-reportdesigner a,
.e-designer-dialog a {
  color: #dddddd;
  text-decoration: underline;
}
.e-reportdesigner-dataset-openfolder:before {
  color: #cccccc;
}
.e-reportdesigner-browse-folder .path1:before {
  color: #ebba16;
}
.e-reportdesigner-browse-folder .path2:before {
  color: #ebf0f3;
}
.e-reportdesigner-browse-folder .path3:before {
  color: white;
}
.e-reportdesigner-browse-folder .path4:before {
  color: #efce4a;
}
.e-reportdesigner-browse-folder .path1:before {
  color: #ebba16;
}
.e-reportdesigner-browse-folder .path2:before {
  color: #ebf0f3;
}
.e-reportdesigner-browse-folder .path3:before {
  color: white;
}
.e-reportdesigner-browse-folder .path4:before {
  color: #efce4a;
}
.e-reportdesigner-browse-reportfile .path1:before {
  color: white;
}
.e-reportdesigner-browse-reportfile .path2:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path3:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path4:before {
  color: #ffde33;
}
.e-reportdesigner-browse-reportfile .path5:before {
  color: #7bcc29;
}
.e-reportdesigner-browse-reportfile .path6:before {
  color: #ec7838;
}
.e-reportdesigner-browse-reportfile .path7:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path8:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path9:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path10:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path11:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path12:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path13:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path14:before {
  color: #e6e9ee;
}
.e-reportdesigner-browse-reportfile .path15:before {
  color: #ec7838;
}
.e-reportdesigner-browse-reportfile .path16:before {
  color: #7bcc29;
}
.e-reportdesigner-browse-reportfile .path17:before {
  color: #4da6ff;
}
.e-reportdesigner-browse-reportfile .path18:before {
  color: #ffde33;
}
.e-reportdesigner-browse-reportfile .path19:before {
  color: #7bcc29;
}
.e-reportdesigner-browse-reportfile .path20:before {
  color: #4da6ff;
}
.e-rptdesigner-selection-drag .path1:before {
  color: #179bd7;
}
.e-rptdesigner-selection-drag .path2:before {
  color: white;
}
.e-rptdesigner-selection-move .path1:before {
  color: white;
}
.e-rptdesigner-selection-move .path2:before {
  color: #179bd7;
}
.e-rptdesigner-selection-move .path3:before {
  color: #179bd7;
}
.e-reportdesigner-imagemanager-add:before {
  
}
.e-reportdesigner-imagemanager-add:before {
  color: white;
}
.e-reportdesigner-imagemanager-delete:before {
  
}
.e-reportdesigner-imagemanager-delete:before {
  color: white;
}
.e-reportdesigner-widget-image .path1:before {
  color: #ec7838;
}
.e-reportdesigner-widget-image .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-widget-line:before {
  color: #4da6ff;
}
.e-reportdesigner-widget-rectangle:before {
  color: #4da6ff;
}
.e-reportdesigner-widget-textbox:before {
  color: #ec7838;
}
.e-reportdesigner-widget-custom:before {
  color: #4da6ff;
}
.e-reportdesigner-area-chart .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-area-chart .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-area-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-bar-chart .path1:before {
  color: #ec7838;
}
.e-reportdesigner-bar-chart .path2:before {
  color: #7bcc29;
}
.e-reportdesigner-bar-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-bar-chart .path4:before {
  color: #ffde33;
}
.e-reportdesigner-bubble-chart .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-bubble-chart .path2:before {
  color: #ec7838;
}
.e-reportdesigner-bubble-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-bubble-chart .path4:before {
  color: #ec7838;
}
.e-reportdesigner-column-chart .path1:before {
  color: #ec7838;
}
.e-reportdesigner-column-chart .path2:before {
  color: #7bcc29;
}
.e-reportdesigner-column-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-column-chart .path4:before {
  color: #ffde33;
}
.e-reportdesigner-doughnut-chart .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-doughnut-chart .path2:before {
  color: #ec7838;
}
.e-reportdesigner-exploded-pie-chart .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-exploded-pie-chart .path2:before {
  color: #ec7838;
}
.e-reportdesigner-funnel-chart .path1:before {
  color: #ffde33;
}
.e-reportdesigner-funnel-chart .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-funnel-chart .path3:before {
  color: #7bcc29;
}
.e-reportdesigner-funnel-chart .path4:before {
  color: #ec7838;
}
.e-reportdesigner-line-chart:before {
  color: #ec7838;
}
.e-reportdesigner-line-with-markers-chart .path1:before {
  color: #ec7838;
}
.e-reportdesigner-line-with-markers-chart .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-line-with-markers-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-line-with-markers-chart .path4:before {
  color: #4da6ff;
}
.e-reportdesigner-line-with-markers-chart .path5:before {
  color: #4da6ff;
}
.e-reportdesigner-line-with-markers-chart .path6:before {
  color: #4da6ff;
}
.e-reportdesigner-pie-chart .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-pie-chart .path2:before {
  color: #ec7838;
}
.e-reportdesigner-pie-chart .path3:before {
  color: #7bcc29;
}
.e-reportdesigner-polar-chart .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-polar-chart .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-polar-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-polar-chart .path4:before {
  color: #ec7838;
}
.e-reportdesigner-polar-chart .path5:before {
  color: #ec7838;
}
.e-reportdesigner-polar-chart .path6:before {
  color: #ec7838;
}
.e-reportdesigner-pyramid-chart .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-pyramid-chart .path2:before {
  color: #ec7838;
}
.e-reportdesigner-pyramid-chart .path3:before {
  color: #7bcc29;
}
.e-reportdesigner-radar-chart .path1:before {
  color: #6d6f70;
}
.e-reportdesigner-radar-chart .path2:before {
  color: #ec7838;
}
.e-reportdesigner-radar-chart .path3:before {
  color: #ec7838;
}
.e-reportdesigner-radar-chart .path4:before {
  color: #ec7838;
}
.e-reportdesigner-radar-chart .path5:before {
  color: #ec7838;
}
.e-reportdesigner-radar-chart .path6:before {
  color: #ec7838;
}
.e-reportdesigner-radar-chart .path7:before {
  color: #4da6ff;
}
.e-reportdesigner-radar-chart .path8:before {
  color: #4da6ff;
}
.e-reportdesigner-radar-chart .path9:before {
  color: #4da6ff;
}
.e-reportdesigner-scatter-chart .path1:before {
  color: #4da6ff;
}
.e-table-user-selection-active .e-rptdesigner-dataset-number:before {
  content: "\e9b6" !important;
}
.e-table-user-selection-active .e-rptdesigner-dataset-datetime:before {
  content: "\e9b2" !important;
}
.e-table-user-selection-active .e-rptdesigner-dataset-boolean:before {
  content: "\e9ad" !important;
}
.e-table-user-selection-active .e-rptdesigner-dataset-misc:before {
  content: "\e9b5" !important;
}
.e-reportdesigner-scatter-chart .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-scatter-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-scatter-chart .path4:before {
  color: #4da6ff;
}
.e-reportdesigner-scatter-chart .path5:before {
  color: #ec7838;
}
.e-reportdesigner-scatter-chart .path6:before {
  color: #ec7838;
}
.e-reportdesigner-scatter-chart .path7:before {
  color: #ec7838;
}
.e-reportdesigner-smooth-area-chart .path1:before {
  color: #7bcc29;
}
.e-reportdesigner-smooth-area-chart .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-smooth-line-chart:before {
  color: #ec7838;
}
.e-reportdesigner-smooth-line-with-markers-chart .path1:before {
  color: #ec7838;
}
.e-reportdesigner-smooth-line-with-markers-chart .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-smooth-line-with-markers-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-smooth-line-with-markers-chart .path4:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-area-chart .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-area-chart .path2:before {
  color: #7bcc29;
}
.e-reportdesigner-stacked-area-chart .path3:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-area-chart-100 .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-area-chart-100 .path2:before {
  color: #ffde33;
}
.e-reportdesigner-stacked-area-chart-100 .path3:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-bar-chart .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-bar-chart .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-bar-chart .path3:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-bar-chart .path4:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-bar-chart .path5:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-bar-chart .path6:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-bar-chart .path7:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-bar-chart .path8:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-bar-chart-100 .path1:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-bar-chart-100 .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-bar-chart-100 .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-bar-chart-100 .path4:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-bar-chart-100 .path5:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-bar-chart-100 .path6:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-bar-chart-100 .path7:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-bar-chart-100 .path8:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-column-chart .path1:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-column-chart .path2:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-column-chart .path3:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-column-chart .path4:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-column-chart .path5:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-column-chart .path6:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-column-chart .path7:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-column-chart .path8:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-column-chart-100 .path1:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-column-chart-100 .path2:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-column-chart-100 .path3:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-column-chart-100 .path4:before {
  color: #ec7838;
}
.e-reportdesigner-stacked-column-chart-100 .path5:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-column-chart-100 .path6:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-column-chart-100 .path7:before {
  color: #4da6ff;
}
.e-reportdesigner-stacked-column-chart-100 .path8:before {
  color: #4da6ff;
}
.e-reportdesigner-stepped-line-chart .path1:before {
  color: #ec7838;
}
.e-reportdesigner-stepped-line-chart .path2:before {
  color: #4da6ff;
}
.e-reportdesigner-widget-grid:before {
  color: #4da6ff;
}
.e-reportdesigner-widget-subreport:before {
  color: #4da6ff;
}
.e-reportdesigner-widget-pivotgrid:before {
  color: #4da6ff;
}
.e-qrydesigner-table-column-deselect:before {
  color: #cad4e0;
}
.e-reportdesigner-alert-msg .path1:before {
  color: #ff4d4d;
}
.e-reportdesigner-alert-msg .path2:before {
  color: #ff4d4d;
}
.e-reportdesigner-alert-msg .path3:before {
  color: white;
}
.e-reportdesigner-alert-msg .path4:before {
  color: white;
}
.e-reportdesigner-alert-info .path1:before {
  color: #ebba16;
}
.e-reportdesigner-alert-info .path2:before {
  color: #ebba16;
}
.e-reportdesigner-widget-tablix .path1:before {
  color: #4da7ff;
}
.e-reportdesigner-widget-tablix .path2:before {
  color: #4da7ff;
}
.e-reportdesigner-widget-tablix .path3:before {
  color: #4da7ff;
}
.e-reportdesigner-widget-tablix .path4:before {
  color: #4da7ff;
}
.e-reportdesigner-widget-tablix .path5:before {
  color: #4da7ff;
}
.e-reportdesigner-widget-tablix .path6:before {
  color: #ec7839;
}
.e-reportdesigner-widget-tablix .path7:before {
  color: #ec7839;
}
.e-reportdesigner-widget-tablix .path8:before {
  color: #ec7839;
}
.e-reportdesigner-widget-list .path1:before {
  color: #4da7ff;
}
.e-reportdesigner-widget-list .path2:before {
  color: #ec7839;
}
.e-reportdesigner-widget-list .path3:before {
  color: #ec7839;
}
.e-reportdesigner-widget-list .path4:before {
  color: #4da7ff;
}
/*----------------------ReportDesigner Font Icons----------------------*/

/*----------------------Toolbar Start----------------------*/

.e-rptdesigner-toolbarcontainer {
  border-radius: 0;
}
.e-rptdesigner-toolbarli.e-active .e-rptdesigner-ejwidgets-splitbtn {
  
}
.e-rptdesigner-toolbarli.e-active .e-rptdesigner-ejwidgets-splitbtn {
  color: white !important;
}
.e-querydesigner-dsname,
.e-querydesigner-dataset-name {
  font-size: 13px;
}
.e-rptdesigner-ejwidgets-splitbtn {
  
  background: transparent !important;
  outline: none !important;
}
.e-rptdesigner-ejwidgets-splitbtn {
  color: #cccccc !important;
}
.e-rptdesigner-toolbarli.e-hover .e-rptdesigner-ejwidgets-splitbtn {
  
}
.e-rptdesigner-toolbarli.e-hover .e-rptdesigner-ejwidgets-splitbtn {
  color: #efefef !important;
}
.e-rptdesigner-preview {
  font-size: 13px;
}
.e-rptdesigner-toolbar-zoom {
  font-size: 12px;
}
.e-rptdesigner-toolbarcontainer .e-tooltxt {
  border-radius: 3px !important;
}
.e-designer-label {
  font-size: 13px !important;
}
.e-rptdesigner-splitbtn.e-splitbutton.e-btn.e-left-btn:focus {
  border: 0 !important;
}
.e-rptdesigner-toolbarcontainer.e-responsive-toolbar {
  border-top: 0 !important;
  border-bottom: 1px solid #494949;
  border-left: 1px solid #494949;
}
/*----------------------Toolbar End-----------------------*/

/************************Itempanel Start***********************************/

.e-rptdesigner-itempanel-expandablepanel {
  background-color: black;
}
.e-itempanel-expand .e-rptdesigner-expand-border {
  
}
.e-reportdesigner .e-widgeticon {
  font-size: 28px;
}
.e-rptdesigner-itempanel-parent {
  background-color: black;
}
.e-rptdesigner-itempanel-dragelements {
  border: 1px solid #494949;
  background-color: black;
}
.e-rptdesigner-itempanel-autocomplete {
  background-color: black;
  
}
.e-rptdesigner-itempanel-autocomplete {
  border: 1px solid #494949;
}
.e-rptdesigner-itempanel-textbox {
  font-size: 13px;
  background-color: black;
  color: #dddddd;
}
.e-rptdesigner-itempanel-searcharea {
  font-size: 10px;
}
.e-rptdesigner-itempanel-textitem {
  color: #dddddd;
  font-size: 10px;
}
.e-rptdesigner-itempanel-panelelements {
  background-color: black;
}
.e-rptdesigner-itempanel-headertag {
  
}
.e-rptdesigner-itempanel-headertag {
  border-top: 1px solid #494949;
  border-bottom: 1px solid #494949;
}
.e-rptdesigner-itempanel-headerText {
  font-size: 12px;
}
.e-rptdesigner-itempanel-container,
.e-rptdesigner-itempanel-itemdiv {
  border: 0px solid #494949;
}
.e-itempanel-report:hover {
  
}
.e-itempanel-report:hover {
  background: #3a3a3a;
}
.e-rptdesigner-tab-opacity-disable {
  
}
.e-rptdesigner-tab-opacity-enable {
  
}
.e-rptdesigner-borderbottom-zero {
  border-bottom: 0px solid #494949;
}
.e-rptdesigner-borderbottom-one {
  border-bottom: 1px solid #494949;
}
.e-reportdesigner .e-itempanel-header.e-itempanel-expand:hover,
.e-reportdesigner .e-itempanel-header.e-itempanel-collapse:hover {
  cursor: pointer;
  border-color: #494949;
  color: #aaaaaa;
  
}
.e-reportdesigner .e-itempanel-header.e-itempanel-expand:hover,
.e-reportdesigner .e-itempanel-header.e-itempanel-collapse:hover {
  background: #3a3a3a;
}
.e-reportdesigner .e-itempanel-header.e-itempanel-expand {
  font-weight: 600;
  border-color: #777777;
  color: #dddddd;
  
}
.e-reportdesigner .e-itempanel-header.e-itempanel-expand {
  background: #212121;
}
.e-reportdesigner .e-itempanel-header.e-itempanel-collapse {
  font-weight: normal;
  color: #dddddd;
  border-color: #777777;
  
}
.e-reportdesigner .e-itempanel-header.e-itempanel-collapse {
  background: #212121;
}
.e-rptdesigner-itemInfo-template,
.e-rptdesigner-grpingpanel-template {
  font-size: 12px;
  float: left;
}
/************************Itempanel End***********************************/

/*----------------------PropertyPanel Start-----------------------*/

.e-rptdesigner-prop-num {
  border: 0 solid #494949;
}
.e-rptdesigner-format-input {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.e-rptdesigner-format-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.e-rptdesigner-browse-icon {
  font-size: 16.5px;
}
.e-rptdesigner-prop-dataAlert {
  background-color: #484848;
  
}
.e-rptdesigner-prop-dataAlert {
  border-bottom: 1px solid #494949;
}
.e-rptdesigner-prop-dataAlert-caption {
  font-size: 12px !important;
  
}
.e-rptdesigner-prop-dataAlert-caption {
  color: #dddddd;
}
/*----------------------PropertyPanel End-----------------------*/

/*----------------------DataConfiguration Start-----------------------*/

.e-rptdesigner-dataconfig-expandablepanel {
  border: 0px solid #494949;
  border-left: 1px solid #494949;
  background-color: black;
}
.e-rptdesigner-dataconfig-header {
  
  border-left: 1px solid #494949;
  float: right;
}
.e-rptdesigner-dataconfig-header {
  background-color: #212121;
}
.e-rptdesigner-dataconfig-icon {
  font-size: 18px;
  color: #dddddd;
}
.e-rptdesigner-dataconfig {
  background-color: transparent;
  border-bottom: 1px solid #494949;
  color: white !important;
}
.e-rptdesigner-dataconfig:hover {
  color: #efefef !important;
}
.e-rptdesigner-dataconfig:hover {
  background: #343e16;
}
.e-rptdesigner-dataconfig-selection:hover {
  
}
.e-rptdesigner-dataconfig-selection:hover {
  color: white !important;
  background: #aecf49;
}
.e-rptdesigner-dataconfig-selection {
  
}
.e-rptdesigner-dataconfig-selection {
  color: white !important;
}
.e-rptdesigner-dataconfig-selection {
  background: #aecf49;
}
/*----------------------DataConfiguration End-----------------------*/

/************************New Dialog Start*********************************/

.e-rptdesigner-errorLog {
  color: #ee2924;
  font-size: 12px;
}
.e-rptdesigner-newdialog-labelTxt {
  font-size: 12px;
}
/************************New Dialog End*********************************/

/************************Credential Dialog Start***********************************/

.e-rptdesigner-credential-label,
.e-rptdesigner-credential-labelAlert {
  font-size: 13px;
}
.e-rptdesigner-credential-alert {
  font-size: 12px;
}
.e-rptdesigner-credential-alert,
.e-rptdesigner-credential-labelAlert {
  color: #ee2924;
}
/************************Credential Dialog End***********************************/

/************************Alert Dialog Start***********************************/

.e-rptdesigner-alertbox .e-header {
  border-bottom: 0 solid #aecf49 !important;
}
.e-rptdesigner-alert-anchor {
  font-size: 12px;
  font-weight: 600;
  color: #dddddd;
}
.e-rptdesigner-alert-msgcont {
  border: 1px solid #494949;
  border-radius: 2px;
}
/************************Alert Dialog End***********************************/

/************************Expresssion Editor Start***********************************/

.e-rptdesigner-expeditor-fontsize {
  font-size: 12px !important;
}
/************************Expresssion Editor End***********************************/

/*----------------------DataSource Start-----------------------*/

.e-designer-tile {
  font-size: 40px;
}
.e-designer-tile-content {
  font-size: 11px !important;
}
.e-rptdesigner-dspanel-menu {
  color: #cccccc;
}
.e-rptdesigner-dspanel-bgcolor {
  background-color: black !important;
}
.e-designer-switch-label {
  font-size: 12px !important;
  font-weight: 600 !important;
  margin-left: 11px;
  cursor: pointer;
  color: #aecf49;
}
.e-reportdesigner-datasourceTypes:hover {
  
  border: #494949 1px solid;
  cursor: pointer;
  color: #aaaaaa;
}
.e-reportdesigner-datasourceTypes:hover {
  background: #343e16;
}
.e-reportdesigner-datasourceTypes {
  color: #dddddd;
}
.e-designer-dslist-label {
  font-size: 13px;
  font-weight: 600;
  color: #dddddd;
}
.e-designer-switchind-icon {
  font-size: 8px;
  cursor: pointer;
}
/*----------------------DataSource End-----------------------*/

/*----------------------PropertyPanel Start-----------------------*/

.e-rptdesigner-prop-panel {
  border: 0 solid #494949;
  height: 100%;
  background-color: black;
}
.e-rptdesigner-prop-advc {
  border-top: 1px solid #494949;
  border-bottom: 1px solid #494949;
  width: 100%;
  float: left;
}
.e-rptdesigner-prop-table {
  margin: 0.5px;
  margin-bottom: 0;
  margin-top: 10px;
  border-bottom: 1px solid #494949;
}
.e-rptdesigner-prop-advc,
.e-rptdesigner-prop-table {
  
}
.e-rptdesigner-prop-advc,
.e-rptdesigner-prop-table {
  border-width: 1px 0;
  border-color: #494949;
}
/*----------------------PropertyPanel End-----------------------*/

/*----------------------PropertyPanel & ItemPanel Accordian Start-----------------------*/

.e-rptdesigner-acrdn-nav-icon {
  font-size: 30px;
  cursor: pointer !important;
}
.e-rptdesigner-acrdn-header.e-item-expand:not(.e-last-item) {
  border-bottom-style: solid !important;
}
.e-rptdesigner-acrdn-header.e-item-collapse:not(.e-last-item) {
  border-bottom-style: none !important;
}
.e-rptdesigner-acrdn-header {
  border-style: solid;
  float: left;
}
.e-rptdesigner-acrdn-header.e-item-expand:hover,
.e-rptdesigner-acrdn-header.e-item-collapse:hover {
  cursor: pointer;
  
}
.e-rptdesigner-acrdn-header.e-item-expand:hover,
.e-rptdesigner-acrdn-header.e-item-collapse:hover {
  border-color: #494949;
  color: #aaaaaa;
}
.e-rptdesigner-acrdn-header.e-item-expand:hover,
.e-rptdesigner-acrdn-header.e-item-collapse:hover {
  background: #3a3a3a;
}
.e-rptdesigner-acrdn-header.e-item-expand {
  font-weight: 600;
  color: #dddddd;
  border-color: #777777;
  
}
.e-rptdesigner-acrdn-header.e-item-expand {
  border-width: 1px 0;
}
.e-rptdesigner-acrdn-header.e-item-expand {
  background: #212121;
}
.e-rptdesigner-acrdn-header.e-item-collapse {
  font-weight: normal;
  color: #dddddd;
  border-color: #777777;
  
}
.e-rptdesigner-acrdn-header.e-item-collapse {
  border-width: 1px 0;
}
.e-rptdesigner-acrdn-header.e-item-collapse {
  background: #212121;
}
/*----------------------PropertyPanel & ItemPanel Accordian End-----------------------*/

/*----------------------Dependent component Overwritten-----------------------*/

.e-reportdesigner-designer-configuration .e-input,
.e-reportdesigner .e-tooltipbox,
.e-reportdesigner .e-btn,
.e-reportdesigner .e-time-popup,
.e-reportdesigner .e-datepicker.e-calendar,
.e-reportdesigner .e-menu,
.e-reportdesigner .e-uploadbox .e-file-name-txt,
.e-reportdesigner .e-uploadbox .e-selectpart,
.e-reportdesigner .e-uploadbox .e-uploadbtn,
.e-reportdesigner .e-waitpopup-pane .e-text,
.e-reportdesigner .e-tagcloud,
.e-reportdesigner .e-toolbar,
.e-reportdesigner .e-progressbar,
.e-reportdesigner .e-scale .e-tick .tick-value,
.e-reportdesigner .e-datetime-popup .e-dt-button,
.e-reportdesigner .e-grid,
.e-reportdesigner .e-ejinputtext,
.e-reportdesigner .e-pager,
.e-reportdesigner .e-fileexplorer,
.e-reportdesigner .e-textbox {
  font-size: 12px;
}
.e-reportdesigner-designer-configuration .e-radiobtn-wrap .e-radsmaller .e-rad-icon {
  
}
.e-reportdesigner-designer-configuration .e-radiobtn-wrap .e-radsmaller .e-rad-icon {
  font-size: 14px;
}
.e-designer-property-header {
  background: black !important;
}
.e-reportdesigner-designer-configuration .e-tab .e-header li a {
  
}
.e-reportdesigner-designer-configuration .e-tab .e-header li {
  background-color: black !important;
  font-size: 14px !important;
  text-align: center !important;
}
.e-reportdesigner-designer-configuration .e-tab .e-header.e-addborderbottom .e-active {
  
  border-top: 0 solid !important;
}
.e-reportdesigner-designer-configuration .e-tab .e-header.e-addborderbottom .e-active {
  border-bottom: 2px solid #aecf49 !important;
}
.e-reportdesigner-designer-configuration .e-tab.e-js .e-header > .e-active,
.e-reportdesigner .e-tab.e-js .e-left > .e-active,
.e-reportdesigner .e-tab.e-js .e-right > .e-active {
  border: 0 solid !important;
}
.e-reportdesigner-designer-configuration .e-tab.e-js .e-header > .e-active a,
.e-reportdesigner .e-tab.e-js .e-left > .e-active a,
.e-reportdesigner .e-tab.e-js .e-right > .e-active a {
  
}
.e-reportdesigner-designer-configuration .e-tab .e-header > .e-select a,
.e-reportdesigner .e-tab.e-js .e-left > .e-select a,
.e-reportdesigner .e-tab.e-js .e-right > .e-select a {
  
}
.e-reportdesigner-designer-configuration .e-tab.e-js .e-header > .e-bottom-line.e-active,
.e-reportdesigner .e-tab.e-js .e-header > .e-bottom-line.e-active:hover {
  
}
.e-reportdesigner-designer-configuration .e-tab.e-js .e-header > .e-bottom-line.e-active,
.e-reportdesigner .e-tab.e-js .e-header > .e-bottom-line.e-active:hover {
  border-bottom: 2px solid #aecf49 !important;
}
.e-reportdesigner-designer-configuration .e-uploadbox .e-uploadinput,
.e-reportdesigner .e-uploadbox .e-selectpart,
.e-reportdesigner .e-uploadbox .e-select .e-inputbtn,
.e-reportdesigner .e-uploadbox.e-disable .e-select .e-inputbtn {
  background-color: #179bd7;
  color: white !important;
}
.e-rptdesigner-dialog .e-dialog-icon.e-icon.e-close,
.e-rptdesigner-ejdialog .e-dialog-icon.e-icon.e-close,
.e-rptdesigner-alertbox .e-dialog-icon.e-icon.e-close {
  
}
/*----------------------Dependent component Overwritten-----------------------*/

/*----------------------ReportDesigner Common Styles----------------------*/

.e-reportdesigner-dataset-okbtn,
.e-designer-alert-okbtn {
  
}
.e-reportdesigner-dataset-okbtn,
.e-designer-alert-okbtn {
  border-color: #777777 !important;
  background: #aecf49 !important;
  color: white !important;
}
.e-rptdesigner-okbtn {
  background: #aecf49 !important;
  color: white !important;
  
}
.e-rptdesigner-okbtn {
  border-color: #777777 !important;
}
.e-reportdesigner-dataset-okbtn:hover,
.e-rptdesigner-okbtn:hover,
.e-designer-alert-okbtn:hover {
  border-color: #777777;
  color: #aaaaaa;
  
}
.e-reportdesigner-dataset-okbtn:hover,
.e-rptdesigner-okbtn:hover,
.e-designer-alert-okbtn:hover {
  background: #343e16 !important;
  color: #aaaaaa !important;
}
.e-designer-newparam-btn,
.e-rptdesigner-new-btn,
.e-designer-newds-btn,
.e-designer-dsconnect-btn,
.e-rptdesigner-previewbtn,
.e-rptdesigner-designbutton,
.e-designer-setparam-btn,
.e-qrydesigner-addbtn {
  font-weight: 400 !important;
  font-size: 11px !important;
  
}
.e-designer-newparam-btn,
.e-rptdesigner-new-btn,
.e-designer-newds-btn,
.e-designer-dsconnect-btn,
.e-rptdesigner-previewbtn,
.e-rptdesigner-designbutton,
.e-designer-setparam-btn,
.e-qrydesigner-addbtn {
  border-radius: 4px !important;
}
.e-table-user-selection-active,
.e-reportdesigner-dataset-okbtn,
.e-rptdesigner-dataset-cancelbtn,
.e-rptdesigner-connect,
.e-designer-menu > li > ul {
  
}
.e-table-user-selection-active,
.e-reportdesigner-dataset-okbtn,
.e-rptdesigner-dataset-cancelbtn,
.e-rptdesigner-connect,
.e-designer-menu > li > ul {
  border-radius: 4px;
}
.e-designer-menu .e-menulink,
.e-rptdesigner-designbutton {
  font-size: 13px !important;
}
.e-rptdesigner-toolbarcontainer .e-toolbarfonticonbasic,
.e-rptdesigner-toolbarcontainer .e-toolbarPreview {
  font-size: 16.5px;
}
.e-designer-textbox-border {
  border-color: #494949;
}
.e-rptdesigner-headericon {
  font-size: 12px;
  color: #cccccc;
}
.e-designer-textarea,
.e-designer-textbox,
.e-designer-txt {
  border-radius: 2px;
  font-size: 12px;
}
.e-designer-textarea,
.e-designer-textbox,
.e-designer-txt {
  box-shadow: 0 0 1px #494949;
  border: 0.5px solid #494949;
}
.e-reportdesigner .e-textbox::selection,
.e-reportdesigner .e-textarea::selection,
.e-reportdesigner .e-textbox::-moz-selection,
.e-reportdesigner .e-textarea::-moz-selection {
  
}
.e-reportdesigner .e-textbox::selection,
.e-reportdesigner .e-textarea::selection {
  background: #3297fd;
  color: white;
}
.e-reportdesigner .e-textbox::-moz-selection,
.e-reportdesigner .e-textarea::-moz-selection {
  background: #3399ff;
  color: white;
}
.e-reportdesigner .e-designer-content,
.e-querydesigner-dataset-text {
  font-size: 12px !important;
}
.e-rptdesigner-header {
  font-size: 14px;
  color: #dddddd;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5px;
}
.e-rptdesigner-data-icon {
  color: #cccccc;
  font-size: 18px !important;
}
.e-designer-content-icon,
.e-rptdesigner-headericon,
.e-designer-tile,
.e-query-datatype,
.e-query-selection,
.e-query-treeview {
  font-style: normal;
  font-weight: normal;
}
.e-designer-content-icon {
  font-size: 15px;
}
.e-rptdesigner-new-btn-footer {
  border: 0 Solid !important;
  border-top-width: 1px !important;
  border-color: #494949 !important;
}
.e-designer-content-label,
.e-designer-content-label .e-input,
.e-designer-content-label .e-corner {
  font-size: 12px !important;
  font-weight: 400 !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  border-radius: 3px !important;
}
.e-reportdesigner-dataset .e-lv.subpage {
  border: 0px solid !important;
}
.e-reportdesigner-dataset .e-lv.e-parentlv > .e-lv.subpage {
  border: 0px solid !important;
}
.e-reportdesigner-dataset .e-lv .e-list {
  border: 0px solid !important;
}
.e-reportdesigner-dataset .e-lv .e-list-text {
  font-size: 13px !important;
}
.e-rptdesigner-datasource-list:hover,
.e-reportdesigner-param-list:hover {
  
  color: #aaaaaa;
}
.e-rptdesigner-datasource-list:hover,
.e-reportdesigner-param-list:hover {
  background: #343e16;
}
.e-rptdesigner-datasource-list,
.e-reportdesigner-param-list,
.e-rptdesigner-datalist-border {
  border-bottom: 0.5px solid #494949 !important;
}
.e-designer-dragabble-icon {
  font-size: 13px !important;
  color: #cccccc;
}
.e-query-datatype {
  font-size: 21px !important;
}
.e-designer-datatype-icon {
  font-size: 20px !important;
  color: #cccccc;
}
.e-reportdesigner .e-rptdesigner-param-text {
  font-size: 12px !important;
  font-weight: 400 !important;
}
.e-designer-title-label {
  font-size: 12px !important;
  font-weight: 700 !important;
  color: #dddddd;
}
.e-rptdesigner-designarea {
  border-top: 1px solid #494949;
  border-bottom: 1px solid #494949;
}
.e-reportdesigner .e-querydesigner {
  border: 0 none !important;
}
.e-reportdesigner .e-toolbarsmallfonticonsettings {
  font-size: 14px;
}
.e-rptdesigner-box-sizing,
.e-reportdesigner-designArea,
.e-rptdesigner-pg-tag {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.e-reportdesigner .e-rptdesigner-editicon {
  color: #cccccc !important;
}
.e-reportdesigner .e-reporticons {
  font-size: 16px !important;
}
/*----------------------ReportDesigner Common Styles End----------------------*/

/*----------------------EJ Designer Fontfamily----------------------*/

.e-designer-fontfamily,
.e-designer-codemoduletextbox,
.e-rptdesigner-toolbar-zoom,
.e-designer-content-label,
.e-designer-content-label .e-input,
.e-designer-content-label .e-corner,
.e-designer-switch-label,
.e-designer-top-tip.e-tooltip-wrap,
.e-designer-right-tip.e-tooltip-wrap,
.e-designer-bottom-tip.e-tooltip-wrap,
.e-rptdesigner-browse-path,
.e-designer-textarea,
.e-designer-textbox,
.e-designer-txt,
.e-designer-title-label,
.e-reportdesigner-menu-list,
.e-rptdesigner-pg-tag,
.e-reportdesigner-designer .e-acrdn > .e-content,
.e-reportdesigner-designer .e-acrdn > .e-select,
.e-reportdesigner-dataset-btn,
.e-reportdesigner-datasourceheader,
.e-reportdesigner-datasourceTile,
.e-reportdesigner-widget-watermark,
.e-reportdesigner-treeText,
.e-reportdesigner-preview-grid .emptyrecord,
.e-rptdesigner-header,
.e-designer-content,
.e-querydesigner-dataset-text,
.e-designer-label,
.e-designer-tile-content,
.e-reportdesigner-parameter-selection .e-input,
.e-designer-ejwidgets .e-input,
.e-atc-popup.e-designer-ejwidgets,
.e-ddl-popup.e-reportdesigner-dataset-selection,
.e-reportdesigner-dataset-selection .e-input,
.e-designer-txtmark,
.e-designer-param-assign,
.e-designer-param-assign .e-ddl .e-input,
.e-reportdesigner .e-ddl [readonly].e-input,
.e-reportdesigner .e-ddl-popup,
.e-reportdesigner .e-ddl .e-options,
.e-rptdesigner-param-text,
.e-designer-menu,
.e-designer-menu .e-menulink,
.e-reportdesigner-preview-grid .e-headercelldiv,
.e-reportdesigner-preview-grid .e-rowcell,
.e-designer-cancelbtn,
.e-rptdesigner-dataset-cancelbtn,
.e-designer-alert-cancelbtn,
.e-designer-add-btn,
.e-designer-add-label,
.e-designer-label-group,
.e-designer-label-sort,
.e-designer-newparam-btn,
.e-rptdesigner-new-btn,
.e-designer-newds-btn,
.e-designer-dsconnect-btn,
.e-rptdesigner-previewbtn,
.e-designer-setparam-btn,
.e-designer-loadbtn,
.e-reportdesigner .CodeMirror,
.e-querydesigner .CodeMirror,
.e-rptdesigner-empty-msg,
.e-reportdesigner-atc-boxshadow,
.e-rptdesigner-param-btn.e-txt,
.e-designer-cancelbtn.e-txt,
.e-designer-okbtn.e-txt,
.e-reportdesigner-dataset-okbtn.e-txt,
.e-rptdesigner-dataset-cancelbtn.e-txt,
.e-reportdesigner-dataset-btn.e-txt,
.e-rptdesigner-previewbtn .e-btntxt,
.e-rptdesigner-new-btn .e-btntxt,
.e-designer-newparam-btn .e-btntxt,
.e-designer-newds-btn .e-btntxt,
.e-designer-dsconnect-btn.e-txt,
.e-designer-alert-okbtn .e-btntxt,
.e-designer-alert-cancelbtn .e-btntxt,
.e-designer-setparam-btn.e-txt,
.e-qrydesigner-addbtn .e-btntxt,
.e-designer-property-header > li > a,
.e-designer-connect.e-txt,
.e-rptdesigner-designbutton .e-btntxt,
.e-designer-ejdialog .e-title,
.e-designer-dialog .e-title,
.e-designer-alertbox .e-title,
.e-rptdesigner-itemInfo-template,
.e-rptdesigner-grpingpanel-template,
.e-rptdesigner-fieldList > li,
.e-rptdesigner-addDataSourceItem > a,
.e-rptdesigner-expressionElement > a,
.e-rptdesigner-textElement > a,
.e-rptdesigner-noRecords,
.e-rptdesigner-tablix-searchtxtbx,
.e-designer-tablix-alert-radiobtn .e-text {
  font-family: 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial' !important;
}
.e-textarea-codeeditor .CodeMirror {
  font-family: 'Segoe UI' !important;
  height: 322px !important;
  visibility: unset;
}
/*----------------------EJ Designer Fontfamily----------------------*/

/*----------------------Link Parameter Start-----------------------*/

.e-rptdesigner-linkparam-font {
  font-size: 12px !important;
}
/*----------------------Link Parameter End-----------------------*/

/*----------------------Report Action Start-----------------------*/

.e-rptdesigner-report-caption,
.e-designer-radio .e-text,
.e-designer-radiobtn .e-text {
  font-size: 12px !important;
}
/*----------------------Report Action End-----------------------*/

/*----------------------Browse Dialog Start-----------------------*/

.e-rptdesigner-browse-path {
  color: #dddddd;
  font-size: 12px;
  border-style: none;
  background-color: black;
}
.e-reportdesigner-reportbrowse:hover {
  border: 1px solid #494949;
  color: #aaaaaa;
  cursor: default;
}
.e-reportdesigner-reportbrowse:hover {
  background: #343e16;
}
.e-reportdesigner-reportbrowse {
  border: 1px solid transparent;
  background-color: transparent;
}
.e-rptdesigner-browse-content {
  border-top: 0.5px solid #494949;
}
.e-designer-empty-folder {
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
}
.e-rptdesigner-browse-label {
  color: #dddddd;
}
.e-rptdesigner-report-selection {
  
}
.e-rptdesigner-report-selection {
  border: 1px solid #494949;
  color: white;
}
.e-rptdesigner-report-selection {
  background: #aecf49;
}
/*----------------------Browse Dialog End-----------------------*/

/************************Image Manager  CSS Start***********************************/

.e-rptdesigner-imagecontainer {
  background-color: black;
}
.e-reportdesigner .e-imagemanagericon {
  font-size: 30px;
}
.e-rptdesigner-img-divhover {
  border: 2px solid;
  border-color: #494949;
}
.e-rptdesigner-img-childdivhover {
  background: #aecf49;
}
.e-rptdesigner-img-deleteicon {
  font-size: 15px !important;
}
.e-rptdesigner-img-itemdiv {
  border: 1px solid;
  border-color: #494949;
}
/************************Image Manager CSS End***********************************/

/*----------------------Dialog Common Styles Start-----------------------*/

.e-rptdesigner-param-assign,
.e-rptdesigner-codemodule,
.e-rptdesigner-add-icon,
.e-rptdesigner-add-btn,
.e-rptdesigner-add-label,
.e-rptdesigner-add-code-label,
.e-rptdesigner-delete-icon,
.e-rptdesigner-txtmark {
  font-size: 12px;
}
.e-rptdesigner-add-icon {
  color: #aecf49;
}
.e-rptdesigner-add-btn {
  color: #aecf49;
}
.e-rptdesigner-dialog-border {
  background: black;
  border: 0.5px solid gray;
}
.e-rptdesigner-add-label {
  color: #dddddd;
}
.e-rptdesigner-add-code-label {
  color: #dddddd;
}
.e-rptdesigner-delete-icon {
  color: #ee2924;
}
.e-rptdesigner-txtmark {
  font-style: normal;
  color: #dddddd;
}
.e-rptdesigner-ejdialog .e-header,
.e-rptdesigner-dialog .e-header {
  
}
.e-rptdesigner-ejdialog .e-header,
.e-rptdesigner-dialog .e-header {
  border-bottom: 0.5px solid #aecf49 !important;
}
.e-rptdesigner-empty-msg,
.e-designer-empty-folder {
  font-style: italic;
  color: #dddddd;
  opacity: 0.6;
}
.e-rptdesigner-dialog .e-footerbar,
.e-rptdesigner-ejdialog .e-footerbar {
  border-top: 0.5px #aecf49 !important;
}
.e-rptdesigner-ejdialog .e-dialog-scroller,
.e-rptdesigner-dialog .e-dialog-scroller {
  border-color: #494949;
}
.e-rptdesigner-dialog .e-titlebar,
.e-rptdesigner-ejdialog .e-titlebar,
.e-rptdesigner-alertbox .e-titlebar {
  
}
.e-rptdesigner-dialog .e-titlebar,
.e-rptdesigner-ejdialog .e-titlebar,
.e-rptdesigner-alertbox .e-titlebar {
  font-size: 14px !important;
  font-weight: 600;
}
.e-rptdesigner-table-dialog {
  background-color: black;
  border: 0.5px solid gray;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.e-rptdesigner-double-drag {
  font-size: 13px !important;
  color: gray !important;
  font-weight: 600 !important;
}
/*----------------------Dialog Common Styles End-----------------------*/

/************************Designpanel module CSS Start***********************************/

.e-rptdesigner-surfacecontainer {
  
}
.e-rptdesigner-surfacecontainer {
  /*other*/
  background-color: #3d3d3d;
}
.e-reportdesigner-designArea {
  border: 0.5px solid;
  background: white;
  border-color: #c8c8c8;
}
.e-reportdesigner-designPanel {
  border-color: #494949;
  font-size: 11pt;
}
.e-rptdesigner-dpadorner-div {
  background-color: transparent;
  border: 1px dashed #179bd7;
}
.e-rptdesigner-pg-tag {
  color: white;
  font-size: 10px;
  background-color: #179bd7;
}
.e-rptdesigner-designselector {
  border: 1px dashed gray;
  background: rgba(237, 246, 253, 0.4);
}
.e-rptdesigner-selection-drag .path1:before {
  color: #179bd7;
}
.e-rptdesigner-selection-drag .path2:before {
  color: white;
}
.e-rptdesigner-selection-move .path1:before {
  color: white;
}
.e-rptdesigner-selection-move .path2:before {
  color: #179bd7;
}
.e-rptdesigner-selection-move .path3:before {
  color: #179bd7;
}
/************************Designpanel module CSS End***********************************/

/************************DataAssign panel CSS Start***********************************/

.e-rptdesigner-dataassign-sep {
  background-color: #494949;
}
.e-rptdesigner-dataassign-roottag {
  background-color: black;
}
.e-rptdesigner-da-searchtxtbx {
  font-size: 11px;
  border: 1px solid #777777;
}
.e-rptdesigner-da-searchtxtbx {
  background-color: black;
}
.e-rptdesigner-da-searchicon {
  color: #cccccc;
}
.e-rptdesigner-da-dataLable {
  font-size: 13px;
  font-weight: 600;
}
.e-rptdesigner-da-categoryList {
  background-color: black;
  border: 1px solid #494949;
}
.e-rptdesigner-da-emptyLabel {
  border: 1px dashed gray;
  background-color: black;
}
.e-rptdesigner-da-emptySpan {
  color: #dddddd;
  font-size: 11px;
}
.e-rptdesigner-da-dragDiv {
  border: 1px solid #494949;
  background: black;
}
.e-rptdesigner-da-dragicon {
  font-size: 11px !important;
  color: #cccccc !important;
}
.e-rptdesigner-da-dragLabel {
  font-size: 11px !important;
}
.e-rptdesigner-da-closeicon {
  color: #ee2924;
  font-size: 10px !important;
}
.e-rptdesigner-da-settingsicon {
  color: #cccccc;
}
.e-rptdesigner-da-dataseticon {
  color: #cccccc !important;
}
.e-rptdesigner-da-dragDiv:hover {
  
}
.e-rptdesigner-da-dragDiv:hover {
  background: #343e16;
}
/************************DataAssign panel CSS End***********************************/

/************************FormatDialog  CSS Start***********************************/

.e-rptdesigner-format-font,
.e-rptdesigner-formattext-caption {
  font-size: 12px;
}
.e-rptdesigner-format-prevwfont {
  font-size: 14px;
  font-weight: 600;
  color: #dddddd;
}
.e-rptdesigner-format-prevwDiv {
  border: 1px solid #494949;
}
.e-rptdesigner-format-subDiv {
  border-left: 1px solid #494949;
}
.e-rptdesigner-format-font,
.e-rptdesigner-format-prevwChild {
  color: #dddddd;
}
.e-rptdesigner-format-font {
  font-weight: 400 !important;
}
/************************FormatDialog  CSS End***********************************/

/*----------------------Ejdesigner Overridden css Start-----------------------*/

.e-designer-ejwidgets .e-input,
.e-atc-popup.e-designer-ejwidgets,
.e-ddl-popup.e-reportdesigner-dataset-selection,
.e-reportdesigner-dataset-selection .e-input {
  font-size: 12px !important;
  line-height: normal;
}
.e-designer-ejwidgets .e-icon.e-arrow-sans-down:before,
.e-designer-ejwidgets-dataConfig .e-icon.e-arrow-sans-down:before,
.e-rptdesigner-new-btn .e-icon.e-arrow-sans-down:before,
.e-designer-ejwidgets .e-icon.e-search:before,
.e-rptviewer-drpdown .e-icon.e-arrow-sans-down:before {
  font-size: 12px !important;
}
.e-rptdesigner-ejwidgets-splitbtn .e-icon.e-arrow-sans-down:before,
.e-designer-ejwidgets-colorpicker .e-icon.e-arrow-sans-down:before,
.e-designer-ejwidgets-colorpicker .e-drp-btn .e-icon.e-arrow-sans-down:before {
  font-size: 8px !important;
}
.e-designer-ejwidgets-colorpicker .e-drp-btn {
  border-right: 1px solid #cecece !important;
}
.e-designer-ejwidgets-updown .e-icon.e-arrow-sans-down:before,
.e-designer-ejwidgets-updown .e-icon.e-arrow-sans-up:before,
.e-rptviewer-updown .e-arrow-sans-down:before,
.e-rptviewer-updown .e-arrow-sans-up:before {
  font-size: 9px !important;
}
.e-designer-ejwidgets .e-select,
.e-rptviewer-drpdown .e-select,
.e-rptviewer-updown .e-select {
  background-color: #212121 !important;
}
.e-designer-ejwidgets .e-input,
.e-atc-popup.e-designer-ejwidgets,
.e-ddl-popup.e-reportdesigner-dataset-selection,
.e-reportdesigner-dataset-selection .e-input {
  font-size: 12px !important;
  line-height: normal;
}
.e-reportdesigner .e-widgeticons,
.e-dataset-widgeticon {
  font-size: 8px;
}
.e-reportdesigner-designer .e-colorwidget .e-selected-color {
  border: 1px solid #c8c8c8 !important;
}
/*----------------------Ejdesigner Overridden css End-----------------------*/

/*----------------------Ejdesigner Error icon Css Start-----------------------*/

.e-rptdesigner-error .e-in-wrap,
.e-rptdesigner-error .e-atc-popup,
.e-rptdesigner-error .e-options,
.e-rptdesigner-error.e-textarea,
.e-rptdesigner-error.e-textbox,
.e-rptdesigner-error.e-designer-textcontent,
.e-rptdesigner-error.e-designer-textarea {
  border: 1px solid #cd0a0a !important;
}
.e-rptdesigner-error-icon,
.e-reportdesigner-alertinfo,
.e-rptdesigner-error-content {
  font-size: 12px;
}
.e-rptdesigner-errorinfo:before {
  color: #ee2924 !important;
}
/*----------------------Ejdesigner Error icon Css End-----------------------*/

/*----------------------Ejdesigner Tooltip Css start-----------------------*/

.e-designer-top-tip.e-tooltip-wrap,
.e-designer-right-tip.e-tooltip-wrap,
.e-designer-bottom-tip.e-tooltip-wrap {
  font-size: 12px !important;
  border-radius: 4px;
  line-height: 18px;
  
}
.e-designer-top-tip.e-tooltip-wrap,
.e-designer-right-tip.e-tooltip-wrap,
.e-designer-bottom-tip.e-tooltip-wrap {
  
}
.e-designer-top-tip.e-tooltip-wrap,
.e-designer-right-tip.e-tooltip-wrap,
.e-designer-bottom-tip.e-tooltip-wrap {
  color: #dddddd;
  border: 1px solid #494949;
  background-color: black;
}
.e-designer-property-tooltip {
  
}
.e-designer-property-tooltip {
  background-color: black;
}
.e-designer-property-tooltip .e-arrowTipOuter,
.e-designer-top-tip .e-arrowTipOuter {
  border-top: none !important;
  border-right: 10px solid transparent !important;
  border-left: 10px solid transparent !important;
  
}
.e-designer-property-tooltip .e-arrowTipOuter,
.e-designer-top-tip .e-arrowTipOuter {
  border-bottom: 10px solid #494949 !important;
}
.e-designer-property-tooltip .e-arrowTipInner {
  border-top: none !important;
  border-right: 9px solid transparent !important;
  border-left: 9px solid transparent !important;
  
}
.e-designer-property-tooltip .e-arrowTipInner {
  border-bottom: 9px solid black !important;
}
.e-designer-config-tooltip .e-arrowTipOuter,
.e-designer-right-tip .e-arrowTipOuter {
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-right: none !important;
  border-left: 10px solid #494949 !important;
  
}
.e-designer-config-tooltip .e-arrowTipInner,
.e-designer-right-tip .e-arrowTipInner {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-right: none !important;
  
}
.e-designer-config-tooltip .e-arrowTipInner,
.e-designer-right-tip .e-arrowTipInner {
  border-left: 9px solid black !important;
}
.e-designer-bottom-tip .e-arrowTipOuter,
.e-reportdesigner,
.e-reportdesigner-tooltiparrowpopup {
  border: 1px solid #494949;
}
.e-designer-bottom-tip .e-arrowTipOuter {
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  
}
.e-designer-bottom-tip .e-arrowTipOuter {
  border-top: 10px solid #494949;
}
.e-designer-bottom-tip .e-arrowTipInner {
  border-right: 9px solid transparent;
  border-bottom: none;
  border-left: 9px solid transparent;
  
}
.e-designer-bottom-tip .e-arrowTipInner {
  border-top: 9px solid black;
}
.e-designer-top-tip .e-arrowTipInner {
  border-right: 9px solid transparent !important;
  border-left: 9px solid transparent !important;
  border-top: 9px solid transparent !important;
  
}
.e-designer-top-tip .e-arrowTipInner {
  border-bottom: 9px solid black !important;
}
/*----------------------Ejdesigner Tooltip Css End-----------------------*/

/*----------------------Scroller Start-----------------------*/

.e-reportdesigner-scroller .e-vscrollbar {
  border-top: 1px solid #777777;
}
/*----------------------Scroller End-----------------------*/

/*----------------------Drag Element Start-----------------------*/

.e-rptdesigner-drag-element {
  background: black;
  border: 0.5px solid gray;
}
.e-rptdesigner-drag-div {
  border: 1px solid #494949;
  background: #aecf49;
}
.e-rptdesigner-drag-iconType {
  font-size: 18px;
  color: white !important;
}
.e-rptdesigner-dragconfig-iconType {
  
}
.e-rptdesigner-drag-label,
.e-rptdesigner-paramdrag-label {
  font-size: 12px;
  color: white;
}
/*----------------------Drag Element End-----------------------*/

/*----------------------Expression menu Background Start-----------------------*/

.e-rptdesigner-exp-set,
.e-rptdesigner-exp-reset,
.e-designer-menu-defaulticon {
  border: 1px solid #c8c8c8 !important;
}
.e-rptdesigner-exp-reset,
.e-designer-menu-defaulticon {
  background: black;
}
.e-rptdesigner-exp-set,
.e-designer-menu-expressionicon {
  background-color: #aecf49;
}
/*----------------------Expression menu Background End-----------------------*/

/*----------------------Parameter module CSS Start-----------------------*/

.e-rptdesigner-param-listDiv,
.e-rptdesigner-param-list-childDiv,
.e-rptdesigner-param-bodyDiv,
.e-rptdesigner-param-panelDiv,
.e-rptdesigner-param-fieldBody {
  background-color: black;
}
.e-reportdesigner-menu-list {
  font-size: 12px !important;
  font-weight: 400 !important;
}
.e-reportdesigner-menu-list:hover {
  background: #343e16;
}
.e-rptdesigner-param-anchorlink {
  font-size: 12px;
  font-weight: 600;
  color: #aecf49 !important;
}
.e-rptdesigner-paramlist-border {
  border-bottom: 1px solid #494949;
}
/*----------------------Parameter module CSS End-----------------------*/

/*----------------------Parameter Dialog CSS Start-----------------------*/

.e-rptdesigner-paramquery-label {
  font-size: 12px;
  color: #dddddd;
}
/*----------------------Parameter Dialog CSS End-----------------------*/

/*----------------------Dataset CSS Start-----------------------*/

.e-rptdesigner-dataset-container {
  background: black;
}
.e-rptdesigner-dataset-headermenu {
  color: #cccccc;
}
.e-rptdesigner-datalist-icon {
  font-size: 12px !important;
  color: #cccccc !important;
}
.e-rptdesigner-list-iconType {
  font-size: 18px !important;
}
.e-rptdesigner-list-iconType,
.e-rptdesigner-data-schema {
  color: #cccccc !important;
}
.e-reportdesigner .e-split-btn-separator {
  border-left: 0.5px solid #777777;
}
.e-rptdesigner-data-bgreset {
  background-color: transparent;
}
.e-rptdesigner-data-bgset {
  
}
.e-rptdesigner-data-bgset {
  background: #343e16;
}
/*----------------------Dataset CSS End-----------------------*/

/*----------------------Shared Dataset CSS Start-----------------------*/

.e-rptdesigner-shared-row {
  font-weight: 500 !important;
}
.e-rptdesigner-shared-label {
  font-size: 13px;
}
/*----------------------Shared Dataset CSS Start-----------------------*/

/*************************************Tablix Start******************************************/

/*************************************Tablix Grouping Panel css Start******************************************/

.e-rptdesigner-rowColumn-openCloseDiv,
.e-rptdesigner-rowColumn-headerTable,
.e-rptdesigner-rowColumn-containerTable,
.e-rptdesigner-rowColumn-bodyContainer {
  
}
.e-rptdesigner-rowColumn-openCloseDiv,
.e-rptdesigner-rowColumn-headerTable,
.e-rptdesigner-rowColumn-containerTable,
.e-rptdesigner-rowColumn-bodyContainer {
  background-color: #212121;
}
.e-rptdesigner-rowColumn-container {
  border-color: #494949;
}
.e-rptdesigner-rowColumn-headerDiv {
  
  color: #dddddd;
}
.e-rptdesigner-rowColumn-headerDiv {
  background-repeat: no-repeat;
  border-bottom: 1px solid #494949;
}
.e-rptdesigner-rowColumn-headerDiv {
  background: #212121;
}
.e-rptdesigner-rowColumn-rowDiv,
.e-rptdesigner-rowColumn-columnDiv {
  
}
.e-rptdesigner-rowColumn-rowDiv,
.e-rptdesigner-rowColumn-columnDiv {
  background-color: black;
}
.e-rptdesigner-headerRowSpan,
.e-rptdesigner-headerColumn,
.e-rptdesigner-rowColumn-fieldNameDiv,
.e-rptdesigner-rowColumn-menuIcon {
  font-size: 12px;
}
.e-rptdesigner-rowColumn-rowDiv {
  border: 1px solid #494949;
}
.e-rptdesigner-rowColumn-columnDiv {
  border: 1px solid #494949;
}
.e-rptdesigner-rowColumn-containerTable {
  border: 1px solid #494949;
  color: #dddddd;
}
.e-rptdesigner-rowColumn-menuDiv {
  border-left: 0.5px solid #777777;
}
.e-rptdesigner-group-list-hover {
  
}
.e-rptdesigner-group-list-hover {
  color: #aaaaaa;
}
.e-rptdesigner-group-list-hover {
  background: #343e16;
}
.e-rptdesigner-user-selection-active {
  
}
.e-rptdesigner-user-selection-active {
  background: #aecf49;
}
.e-rptdesigner-user-selection-active,
.e-rptdesigner-user-selection-active .e-rptdesigner-rowColumn-menuIcon,
.e-rptdesigner-user-selection-active .e-rptdesigner-group-detailIcon,
.e-rptdesigner-user-selection-active .e-rptdesigner-group-icon {
  
}
.e-rptdesigner-user-selection-active,
.e-rptdesigner-user-selection-active .e-rptdesigner-rowColumn-menuIcon,
.e-rptdesigner-user-selection-active .e-rptdesigner-group-detailIcon,
.e-rptdesigner-user-selection-active .e-rptdesigner-group-icon {
  color: white;
}
.e-rptdesigner-groupPanel-resizer {
  
}
.e-rptdesigner-groupPanel-resizer {
  background-color: #494949;
}
.e-rptdesigner-groupPanel-resizer:hover {
  
}
.e-rptdesigner-groupPanel-resizer:hover {
  background-color: #343e16;
  border-color: #494949;
}
.e-rptdesigner-groupPanel-resize-helper {
  
}
.e-rptdesigner-groupPanel-resize-helper {
  background: #aecf49;
}
.e-rptdesigner-rowColumn-rowIconSpan,
.e-rptdesigner-rowColumn-advIconSpan,
.e-rptdesigner-rowColumn-menuIcon,
.e-rptdesigner-rowColumn-openCloseIcon,
.e-rptdesigner-group-detailIcon,
.e-rptdesigner-group-icon,
.e-rptdesigner-rowColumn-groupIcon-size {
  color: #cccccc;
}
/*************************************Tablix Grouping Panel End******************************************/

.e-rptdesigner-textbox-editIcon {
  color: #159bd7;
}
.e-rptdesigner-group-line.e-rptdesigner-group-detailIcon {
  color: #c3c3c3;
}
/**************************Tablix Data Assign Override Start*******************************/

.e-rptdesigner-tablixdataassignmenu {
  background-color: black;
  
}
.e-rptdesigner-tablixdataassignmenu {
  border: 1px solid #494949;
  box-shadow: none;
}
.e-rptdesigner-menu-item:hover {
  
  color: #aaaaaa;
  cursor: pointer;
}
.e-rptdesigner-menu-item:hover {
  background: #343e16;
}
.e-rptdesigner-menu-item {
  font-size: 14px;
  color: #dddddd;
}
.e-rptdesigner-menu-item > a {
  font-size: 14px;
  text-overflow: ellipsis;
  text-decoration: none !important;
  overflow: hidden;
  white-space: nowrap;
}
.e-rptdesigner-menu-separator {
  background-color: #494949;
}
.e-rptdesigner-noRecords {
  font-size: 12px;
  color: #cccccc !important;
  font-style: italic;
}
.e-rptdesigner-tablix-searchicon {
  color: #cccccc !important;
}
.e-rptdesigner-tablix-content-icon {
  font-family: ejreportdesigner !important;
  font-size: 17px;
  font-style: normal;
  font-weight: normal;
}
/**************************Tablix Data Assign Override End*******************************/

/*************************************Tablix End******************************************/

.e-rptdesigner-headericon.e-reportdesigner-backarrow:hover {
  cursor: pointer;
  border-color: #494949;
  color: #aaaaaa;
  border-radius: 4px;
  
}
.e-rptdesigner-headericon.e-reportdesigner-backarrow:hover {
  background: #3a3a3a;
}
/*************************************Code Module Start******************************************/

.e-rptdesigner-codeinfo {
  color: gray;
}
.e-reportdesigner-infoIcon-border {
  border-left: 1px solid #dedede;
}
/*************************************Code Module End******************************************/

/*------------------------------querydesigner toolbar Start-------------------------------*/

.e-querydesigner-toolbarcontainer .e-qrydesigner-preview,
.e-querydesigner-toolbarcontainer .e-qrydesigner-join,
.e-querydesigner-toolbarcontainer .e-qrydesigner-exp {
  font-size: 24px;
}
.e-querydesigner-toolbarcontainer .e-qrydesigner-filter {
  font-size: 16px;
}
.e-querydesigner-toolbarcontainer .e-qrydesigner-param {
  font-size: 20px;
}
.e-querydesigner-toolbarcontainer.e-responsive-toolbar {
  border-top: 0 !important;
  border-bottom: 1px solid #494949;
  border-left: 1px solid #494949;
}
.e-querydesigner-toolbarcontainer .e-tooltxt {
  border-radius: 3px !important;
}
.e-querydesigner-toolbarcontainer.e-responsive-toolbar {
  border-right: 1px solid #494949;
}
.e-qrydesigner-separator.e-horizontal.e-separator {
  border-right: 0 none;
}
/*------------------------------querydesigner toolbar End-------------------------------*/

/************************Toggle Button*********************************/

.e-querydesigner-toolbarcontainer .e-qrydesigner-slider {
  background-color: black;
}
.e-querydesigner-toolbarcontainer .e-qrydesigner-slider:before {
  background-color: white;
}
.e-querydesigner-toolbarcontainer input:checked + .e-qrydesigner-slider {
  
}
.e-querydesigner-toolbarcontainer input:checked + .e-qrydesigner-slider {
  background: #aecf49;
}
/************************Toggle Button*********************************/

/*------------------------------querydesigner surface start-------------------------------*/

.e-querydesigner a {
  color: #dddddd;
  text-decoration: underline;
}
.e-querydesigner,
.e-querydesigner .e-data-table,
.e-qrydesigner-dragheader {
  border: 1px solid #494949;
}
.e-qrydesigner-surface,
.e-querydesigner .e-query-editor {
  background-color: black;
}
.e-qrydesigner-schema {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 0 none;
  background-color: black;
}
.e-qrydesigner-search-cont {
  background: transparent !important;
}
.e-qrydesigner-preview-header {
  border-bottom: 1px Solid #494949;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
}
.e-qrydesigner-preview-header {
  background: black;
}
.e-qrydesigner-schema-header {
  
}
.e-qrydesigner-schema-header {
  border: 1px solid #494949;
}
.e-qrydesigner-schema-scroll {
  border-top: 1px solid #494949;
}
.e-designer-h-splitter {
  border-left-style: none !important;
}
.e-querydesigner .e-qrydesigner-surface {
  border-width: 1px 0 0 0 !important;
}
.e-querydesigner .e-data-table {
  box-shadow: 0 0 10px #494949;
}
.e-querydesigner .e-data-table .e-list {
  border-bottom: 0 none !important;
}
.e-qrydesigner-datatable .e-item .e-active .e-qrydesigner-treeview.e-checkmark {
  color: white !important;
}
.e-qrydesigner-datatable .e-item .e-active.e-node-hover .e-qrydesigner-treeview.e-checkmark {
  color: #efefef !important;
}
.e-qrydesigner-dataheader,
.e-qrydesigner-Update,
.e-qrydesigner-update-icon {
  font-size: 12px;
  font-weight: 600;
  color: #dddddd !important;
}
.e-qrydesigner-generatepreview {
  font-size: 12px;
  font-weight: 600;
  color: #dddddd !important;
  
}
.e-qrydesigner-datacontent {
  font-size: 12px;
  font-weight: 600;
  color: #dddddd !important;
}
.e-qrydesigner-norow-msg,
.e-reportdesigner-preview-grid .emptyrecord {
  font-size: 14px;
  color: #dddddd !important;
}
.e-qrydesigner-atc-boxshadow.e-input,
.e-qrydesigner-atc-boxshadow.e-input[type="text"],
.e-qrydesigner-table-boxshadow {
  box-shadow: rgba(0, 0, 0, 0.0745098) 0 0 0 !important;
}
.e-qrydesigner-table-boxshadow {
  border-width: 0 !important;
}
.e-qrydesigner-atc-boxshadow {
  font-size: 13px !important;
}
.e-qrydesigner-treeview.e-chk-image {
  color: #179bd7 !important;
}
.e-active > .e-qrydesigner-treeview.e-checkmark {
  color: white;
}
.e-qrydesigner-treeview.e-checkmark {
  color: #179bd7;
}
.e-qrydesigner-empty-msg,
.e-designer-empty-folder {
  font-style: italic;
  color: #dddddd;
  opacity: 0.6;
}
.e-qrydesigner-table-close .e-icon.e-close_01 {
  
}
.e-querydesigner .e-data-table .e-qrydesigner-table-close .e-close_01:hover {
  background-color: #343e16 !important;
  border-radius: 4px !important;
}
.e-qrydesigner-dragheader {
  background: black;
  color: #dddddd;
  font-size: 15px;
}
.e-query-selection {
  font-size: 19px !important;
}
.e-qrydesigner-treeview,
.e-reportdesigner-double-drag {
  color: #cccccc;
}
.e-qrydesigner-datatable .e-item .e-active .e-reportdesigner-double-drag {
  color: white !important;
}
.e-qrydesigner-datatable .e-item .e-active.e-node-hover .e-reportdesigner-double-drag {
  color: #efefef !important;
}
.e-qrydesigner-datatable .e-item .e-active {
  color: white !important;
}
.e-qrydesigner-datatable .e-item .e-active.e-node-hover {
  color: #aaaaaa !important;
}
.e-qrydesigner-datatable .e-item .e-active .e-qrydesigner-treeview {
  color: white !important;
}
.e-qrydesigner-datatable .e-item .e-active.e-node-hover .e-qrydesigner-treeview {
  color: #efefef !important;
}
.e-querydesigner .e-query-text {
  font-size: 12px !important;
}
.e-table-user-selection-active .e-qrydesigner-table-column-deselect:before {
  color: #dddddd !important;
}
.e-qrydesigner-table-column:hover {
  
  border-color: #494949 !important;
  color: #aaaaaa !important;
  border-radius: 4px;
}
.e-qrydesigner-table-column:hover {
  background: #343e16;
}
.e-table-user-selection-active.e-qrydesigner-table-column,
.e-table-user-selection-active.e-qrydesigner-table-column a,
.e-table-user-selection-active.e-qrydesigner-table-column:hover,
.e-table-user-selection-active.e-qrydesigner-table-column a:hover {
  
}
.e-table-user-selection-active.e-qrydesigner-table-column,
.e-table-user-selection-active.e-qrydesigner-table-column a,
.e-table-user-selection-active.e-qrydesigner-table-column:hover,
.e-table-user-selection-active.e-qrydesigner-table-column a:hover {
  color: white !important;
  border-color: #494949 !important;
  border-radius: 4px;
}
.e-table-user-selection-active.e-qrydesigner-table-column,
.e-table-user-selection-active.e-qrydesigner-table-column a,
.e-table-user-selection-active.e-qrydesigner-table-column:hover,
.e-table-user-selection-active.e-qrydesigner-table-column a:hover {
  background: #aecf49;
}
.e-qrydesigner-table-header {
  float: left;
  font-weight: 600;
  font-size: 13px;
}
.e-designer-loadbtn {
  font-weight: 600 !important;
}
.e-qrydesigner-table-separator {
  border: 0 Solid;
  border-top-width: 0.5px;
  border-color: #494949;
}
.e-qrydesigner-query-table {
  background-color: black;
}
/*------------------------------querydesigner surface End-------------------------------*/

/*------------------------------querydesigner dependent overwritten-------------------------------*/

.e-querydesigner .e-query-editor .CodeMirror {
  color: #dddddd;
}
.e-querydesigner .e-query-editor .CodeMirror,
.e-querydesigner .e-query-editor .CodeMirror .CodeMirror-gutters {
  background-color: black;
  font-size: 16px;
}
.e-querydesigner .e-query-editor .CodeMirror .CodeMirror-gutters {
  border-right: 1px solid #494949;
}
/*------------------------------querydesigner dependent overwritten-------------------------------*/

/*------------------------------querydesigner font-family-------------------------------*/

.e-qrydesigner-norow-msg,
.e-qrydesigner-empty-msg,
.e-qrydesigner-dataheader,
.e-qrydesigner-Update,
.e-qrydesigner-add-label,
.e-qrydesigner-okbtn.e-txt,
.e-qrydesigner-texteditor,
.e-qrydesigner-cancelbtn,
.e-qrydesigner-cancelbtn.e-txt,
.e-qrydesigner-add-btn,
.e-qrydesigner-atc-boxshadow,
.e-qrydesigner-datacontent,
.e-qrydesigner-title-label,
.e-qrydesigner-generatepreview {
  font-family: 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial' !important;
}
/*------------------------------querydesigner font-family-------------------------------*/

/*------------------------------queryjoiner Start-------------------------------*/

.e-qrydesigner-qryjoiner-addfield {
  background: black;
}
.e-qrydesigner-qryjoiner-container {
  background-color: black;
}
.e-rptdesigner-dialog .e-qrydesigner-qryjoiner-saveicon {
  font-size: 11px;
}
.e-qrydesigner-queryjoiner-deleteicon {
  color: #ee2924;
}
.e-qrydesigner-qryjoiner-addfield-deleteicon {
  color: #ee2924;
}
/*------------------------------queryjoiner End-------------------------------*/

/*------------------------------Store Parameter Start-------------------------------*/

.e-qrydesigner-qryparameter-container {
  background-color: black;
  border: 0.5px solid #494949;
}
.e-qrydesigner-storefont {
  font-size: 14px;
  color: #dddddd;
  font-weight: 600;
}
/*------------------------------Store Parameter  End-------------------------------*/

/*----------------------Dialog Common Styles Start-----------------------*/

.e-qrydesigner-add-label {
  color: #dddddd;
}
.e-qrydesigner-qryjoiner-drpdwn,
.e-qrydesigner-add-btn,
.e-qrydesigner-add-label {
  font-size: 12px;
}
.e-qrydesigner-add-icon {
  color: #aecf49;
}
.e-qrydesigner-add-btn {
  color: #aecf49;
}
.e-qrydesigner-dialog-border {
  background: black;
  border: 0.5px solid gray;
}
.e-qrydesigner-table-dialog {
  background-color: black;
  border: 0.5px solid gray;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.e-qrydesigner-dialog .e-header {
  
}
.e-qrydesigner-dialog .e-header {
  border-bottom: 0.5px solid #aecf49 !important;
}
.e-qrydesigner-dialog .e-footerbar {
  border-top: 0.5px #aecf49 !important;
}
.e-qrydesigner-dialog .e-dialog-scroller {
  border-color: #494949;
}
.e-qrydesigner-dialog .e-dialog-icon.e-icon.e-close {
  
}
.e-qrydesigner-dialog .e-titlebar {
  
}
.e-qrydesigner-dialog .e-titlebar {
  font-size: 14px !important;
  font-weight: 600;
}
.e-qrydesigner-param-assign,
.e-qrydesigner-add-icon,
.e-qrydesigner-add-btn,
.e-qrydesigner-add-label,
.e-qrydesigner-delete-icon {
  font-size: 12px;
}
.e-qrydesigner-delete-icon {
  color: #ee2924;
}
.e-qrydesigner-okbtn {
  background: #aecf49 !important;
  color: white !important;
  
}
.e-qrydesigner-okbtn {
  border-color: #777777 !important;
}
.e-qrydesigner-okbtn:hover {
  border-color: #494949;
  color: #aaaaaa;
  
}
.e-qrydesigner-okbtn:hover {
  background: #343e16 !important;
  color: #aaaaaa !important;
}
/*----------------------Dialog Common Styles End-----------------------*/

/*------------------------------query expression Dialog Start-------------------------------*/

.e-qrydesigner-exp-font {
  font-size: 13px !important;
}
.e-qrydesigner-exp-sepdiv1 {
  border-left: 1px solid #494949;
}
.e-qrydesigner-exp-sepdiv2 {
  border-left: 1px solid #494949;
}
.e-qrydesigner-exp-desccontent,
.e-qrydesigner-exp-example {
  font-size: 12px;
}
.e-qrydesigner-exp-list {
  background: black;
}
.e-qrydesigner-exp-list-hover,
.e-qrydesigner-exp-list-hover a {
  
}
.e-qrydesigner-exp-list-hover,
.e-qrydesigner-exp-list-hover a {
  color: #aaaaaa;
}
.e-qrydesigner-exp-list-hover,
.e-qrydesigner-exp-list-hover a {
  background: #343e16;
}
.e-qrydesigner-exp-separator {
  border-right: 0.5px solid #494949 !important;
}
.e-qrydesigner-explist-iconspan {
  font-size: 16px;
  
}
.e-qrydesigner-explist-iconspan {
  color: #ee2924;
}
.e-qrydesigner-explist-border {
  border-bottom: 1px solid #494949;
}
.e-qrydesigner-explist-licontainer {
  border-bottom: 0.5px solid #494949 !important;
}
.e-qrydesigner-explist-lianchor {
  
}
.e-qrydesigner-textarea,
.e-qrydesigner-textbox,
.e-qrydesigner-txt {
  border-radius: 2px;
  font-size: 12px;
}
.e-qrydesigner-textarea,
.e-qrydesigner-textbox,
.e-qrydesigner-txt {
  border: 0.5px solid #494949;
  box-shadow: 0 0 1px #494949;
}
/*------------------------------query expression Dialog End-------------------------------*/

.e-qrydesigner-dataset .e-lv.subpage {
  border: 0px solid !important;
}
.e-qrydesigner-dataset .e-lv.e-parentlv > .e-lv.subpage {
  border: 0px solid !important;
}
.e-qrydesigner-dataset .e-lv .e-list {
  border: 0px solid !important;
}
.e-qrydesigner-dataset .e-lv .e-list-text {
  font-size: 13px !important;
}
.e-qrydesigner-user-selection-active {
  
}
.e-qrydesigner-user-selection-active {
  color: white !important;
}
.e-qrydesigner-user-selection-active {
  background: #aecf49;
}
.e-qrydesigner-user-selection-active a {
  
}
.e-qrydesigner-user-selection-active a {
  color: white !important;
}
.e-qrydesigner-user-selection-active a {
  background: #aecf49;
}
/*----------------------Query filter CSS Start-----------------------*/

.e-qrydesigner-queryfilter-field-table,
.e-qrydesigner-queryfilter-bool-table {
  background-color: black;
}
.e-qrydesigner-query-bool-label {
  font-size: 13px;
}
/*----------------------Query filter CSS End-----------------------*/

/*----------------------Query Param CSS Start-----------------------*/

.e-qrydesigner-queryparam-label {
  font-size: 14px;
}
.e-qrydesigner-queryparam-label {
  color: #dddddd;
}
/*----------------------Query Param CSS End-----------------------*/

/************************Report Parameter Start***********************************/

.e-qrydesigner-dataparam-font {
  font-size: 12px;
}
/************************Report Parameter End***********************************/

/*------------------------------querydesigner Common Css Start-------------------------------*/

.e-designer-textbox-border {
  border-color: #494949;
}
.e-qrydesigner-title-label {
  font-size: 12px !important;
  font-weight: 700 !important;
  color: #dddddd;
}
/*------------------------------querydesigner Common Css End-------------------------------*/

