﻿body, #MasterGrid {
    font-family: vazir !important;
}

.dataTables_processing {
    height: 60px !important;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(198, 231, 226, 0.9) 25%, rgba(145, 190, 198, 0.9) 75%, rgba(255, 255, 255, 0) 100%) !important;
}

.box-different {
    border: 1px solid #d6d8da;
}

fieldset.scheduler-border {
    direction: rtl !important;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    width: 100%;
    direction: rtl;
    border: 2px groove #3226264d !important;
    border-radius: 5px !important;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: right !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

.preloader {
    background: #ffffff;
    font-family: vazir !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    z-index: 1;
    opacity: .8;
}

    .preloader.full-preloader {
        position: fixed;
        z-index: 2000;
    }

        .preloader.full-preloader .preloader-animation {
            position: absolute;
            top: calc(50% - 3.25em);
            left: calc(50% - 3.25em);
        }

.preloader-container {
    position: absolute;
    top: calc(50% - 3.25em);
    text-align: center;
    width: 100%;
}

.preloader-animation {
    display: inline-block;
    height: 6.5em;
    width: 6.5em;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ffa726;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

    .preloader-animation:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #34495e;
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }

    .preloader-animation:after {
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #62cb31;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
    }

.preloader-text, .preloader-percent {
    position: absolute;
    text-align: center;
    color: #34495e;
    z-index: 1;
}

.preloader-text {
    width: 50%;
    top: calc(50% - 6.5em);
    left: 25%;
}

.preloader-percent {
    width: 3em;
    top: calc(50% - .75em);
    left: calc(50% - 1.5em);
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



tr.e-alt_row {
    background-color: rgb(188, 224, 230) !important;
}

.e-headercell-hover {
    background: #0c7788 !important;
    color: white !important;
}

.e-filtericon .e-icon .e-filterset {
    color: white !important;
}

.e-js.e-grid.e-rtl .e-headercell .e-filtericon, .e-js.e-grid.e-rtl .e-headercell .e-filteredicon, .e-js.e-grid.e-rtl .e-headercell .e-togglegroup, .e-js.e-grid.e-rtl .e-headercell .e-toggleungroup, .e-js.e-grid.e-rtl .e-animatebutton, .e-js.e-grid.e-rtl .e-ungroupbutton {
    color: white;
}

.e-js.e-grid .e-gridheader .e-icon {
    color: #ffebeb !important;
}

.e-js.e-grid .e-toolbar .e-hover .e-icon, .e-js.e-grid .e-headercell.e-hover .e-icon {
    color: #ffebeb!important;
}

.exports > .btn {
    margin: 0 5px;
}


.e-gridcontent {
    height: auto !important;
}

.e-detailrow {
    text-align: right !important;
}
.e-header {
    background: #5e565675 !important;
}


.modal-header .close {
    padding: 1rem 1rem !important;
    margin: -1rem auto -1rem -1rem !important;
    float: left !important;
}

.modal-header {
    display: block !important;
}

.modal-title {
    float: right !important;
}

.modal-body {
    text-align: right !important;
    direction: rtl !important;
}

.modal-footer {
    display: -ms-flexbox !important;
    display: inline !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}