﻿fieldset.scheduler-border {
    direction: rtl !important;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    width: 100%;
    direction: rtl;
    border: 2px groove #3226264d !important;
    border-radius: 5px !important;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: right !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

.dataTables_processing {
    height: 60px !important;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(198, 231, 226, 0.9) 25%, rgba(145, 190, 198, 0.9) 75%, rgba(255, 255, 255, 0) 100%) !important;
}

.box-different {
    border: 1px solid #d6d8da;
}

.right-side {
    padding: 0 0.2em 0.2em 0.2em !important;
}

    .right-side > legend {
        text-align: center !important;
        padding: 0 7px;
        font-size: 20px !important;
    }

button[kg-itag="3"] {
    font-size: 13px !important;
}

.input-group {
    display: inline-flex !important;
    direction: ltr;
}
