﻿fieldset.scheduler-border {
    background: aliceblue;
    direction: rtl;
    border: 2px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    width: 100%;
    padding-bottom: 10px !important;
    margin-bottom: 5px !important;
    border-radius: 5px;
}

.rtl {
    direction: rtl !important;
    text-align: right !important;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: right !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    margin-bottom: 0px;
}

.h-30 {
    height: 30px !important;
}

input, textarea {
    font-family: vazir !important;
}


.mlr10 {
    margin: 0 10px;
}

.controls > input {
    margin: 0 10px;
    padding: 0 10px;
}

.e-textbox {
    padding: 0 10px;
    height: 29px !important;
}

label {
    height: 29px !important;
}

