﻿.e-list-container {
    margin-top: 25px;
}

.e-js.e-lv .e-list.e-state-default {
    direction: rtl;
    text-align: right;
}

.e-js.e-lv .e-list.e-state-default {
    direction: rtl;
    text-align: right;
    height: 32px;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
}

    .e-js.e-lv .e-list.e-state-default:hover {
        background: white !important;
    }

.e-js.e-lv .e-list {
    cursor: unset !important;
}

.e-widget.e-ddl-popup.e-rtl div > ul li {
    font-size: 14px;
    direction: rtl;
    padding: 5px .857em 5px 5px;
    text-align: right;
    font-weight: 600;
    font-family: vazir;
}
