@charset "UTF-8";
/*!
*  filename: ej.mobile.android.css
*  version : 18.4.0.32
*  Copyright Syncfusion Inc. 2001 - 2020. All rights reserved.
*  Use of this code is subject to the terms of our license.
*  A copy of the current license can be obtained at any time by e-mailing
*  licensing@syncfusion.com. Any infringement will be prosecuted under
*  applicable laws.
*/

@charset "UTF-8";
/*!
*  filename: ej.mobile.android.css
*  version : 18.4.0.32
*  Copyright Syncfusion Inc. 2001 - 2020. All rights reserved.
*  Use of this code is subject to the terms of our license.
*  A copy of the current license can be obtained at any time by e-mailing
*  licensing@syncfusion.com. Any infringement will be prosecuted under
*  applicable laws.
*/

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-android.e-m-acc .e-m-acc-item {
  background-color: white;
  color: black;
}
.e-m-android.e-m-acc,
.e-m-android.e-m-acc .e-m-acc-item,
.e-m-android.e-m-acc .e-m-acc-content-wrapper {
  border-bottom-color: gainsboro;
  border-top-color: gainsboro;
  border-left-color: gainsboro;
  border-right-color: gainsboro;
}
.e-m-android.e-m-acc .e-m-acc-item.e-m-state-active {
  background-color: #303f9f;
  color: white;
}
.e-m-android.e-m-acc .e-m-acc-content-wrapper {
  background-color: white;
  color: black;
}
.e-m-android.e-m-acc .e-m-acc-item:before {
  color: #737373;
}
.e-m-android.e-m-acc .e-m-acc-item.e-m-state-active:before {
  color: white;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-android.e-m-ac-wrapper .e-m-ac {
  border-color: gainsboro;
  color: black;
}
.e-m-android.e-m-ac-wrapper .e-m-ac.e-m-focus {
  border-color: gainsboro;
}
.e-m-android.e-m-ac-wrapper.e-m-ac-search .e-m-icon-search:before,
.e-m-android.e-m-ac-wrapper.e-m-ac-search .e-m-icon-close:before {
  color: black;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-android.e-m-btn.e-m-border.e-m-state-default {
  border-color: gainsboro;
  background-color: #5c6bc0;
  color: white;
}
.e-m-android.e-m-btn.e-m-noborder.e-m-state-default {
  border-color: transparent;
  background-color: transparent;
  color: white;
}
.e-m-android.e-m-btn.e-m-border.e-m-state-active,
.e-m-android.e-m-btn.e-m-noborder.e-m-state-active {
  border-color: gainsboro;
  background-color: #303f9f;
  color: white;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-android.e-m-dialog .e-m-dlg-container {
  background-color: white;
  color: black;
  border-color: gainsboro;
}
.e-m-android.e-m-dialog .e-m-dlg-btn.e-m-state-default {
  background-color: white;
  color: black;
  border-color: gainsboro;
}
.e-m-android.e-m-dialog .e-m-dlgbtnwrapper {
  border-top-color: gainsboro;
}
.e-m-android.e-m-dialog .e-m-dlg-btn.e-m-dlg-rightbtn {
  border-left-color: gainsboro;
}
.e-m-android.e-m-dialog .e-m-dlg-hdr,
.e-m-android.e-m-dialog .e-m-dlg-content {
  color: black;
}
.e-m-android.e-m-dialog .e-m-dlg-btn.e-m-state-active {
  background-color: #303f9f;
  color: white;
  border-color: gainsboro;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-android.e-m-dropdownlist {
  color: black;
  border-color: gainsboro;
}
.e-m-android.e-m-dropdownlist.e-m-focus {
  border-color: #303f9f;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-android.e-m-input-checkbox,
.e-m-android.e-m-input-radiobutton {
  border-color: gainsboro;
}
.e-m-android.e-m-input-checkbox.e-m-state-active,
.e-m-android.e-m-input-radiobutton.e-m-state-active:after {
  background-color: #303f9f;
}
.e-m-android.e-m-input-checkbox.e-m-state-active:before {
  color: white;
}
.e-m-android.e-m-input-radiobutton.e-m-state-glow:after {
  box-shadow: 0 0 1px 13px rgba(48, 63, 159, 0.1);
}
.e-m-android.e-m-input-checkbox.e-m-state-glow:after {
  box-shadow: -2px -1px 0px 13px #303f9f;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-android.e-m-navbar {
  background-color: #5c6bc0;
  border-color: gainsboro;
}
.e-m-android.e-m-navbar .e-m-navbar-text {
  color: white;
}
.e-m-android.e-m-navbar .e-m-navbar-icon,
.e-m-android.e-m-navbar .e-m-navbar-ellipsis {
  color: white;
}
.e-m-android.e-m-navbar .e-m-navbar-icon.e-m-state-active,
.e-m-android.e-m-navbar .e-m-navbar-ellipsis.e-m-state-active {
  color: white;
  background-color: #303f9f;
}
.e-m-android.e-m-navbar .e-m-navbar-icon.e-m-nav-badge::after {
  background-color: white;
  color: #5c6bc0;
}
.e-m-android.e-m-navbar .e-m-navbar-icon.e-m-state-active.e-m-nav-badge::after {
  background-color: white;
  color: #303f9f;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-android .e-m-grid-header .e-m-grid-fbardiv {
  background: #cecece;
}
.e-m-android .e-m-caption-row,
.e-m-android .e-m-grid-fbardiv,
.e-m-android .e-m-grid-fbardiv input {
  color: #333333;
  background: #dddee0;
}
.e-m-android .e-m-grid-header,
.e-m-android .e-m-grid-pwrapper {
  border-width: 1px 0;
  border-color: #959595;
  border-style: solid;
}
.e-m-android .e-m-caption-row,
.e-m-android .e-m-grid-fbardiv,
.e-m-android .e-m-grid-content .e-m-grid-table,
.e-m-android .e-m-grid-content,
.e-m-android.e-m-grid-core {
  border-color: #aaaaaa;
}
.e-m-android .e-m-grid-header .e-m-state-active {
  background: #303f9f;
  color: white;
}
.e-m-android .e-m-grid-header.e-m-state-default,
.e-m-android .e-m-grid-header.e-m-state-default .e-m-grid-inrhdr {
  background: #cecece;
  color: #333333;
}
.e-m-android .e-m-grid-rowcell.e-m-state-active,
.e-m-android.e-m-pagertype-scrollable .e-m-grid-ptxt .e-m-state-active.e-m-page-num {
  background: #303f9f;
  color: white;
}
.e-m-android .e-m-grid-content .e-m-grid-table tr {
  color: #333333;
  background: #cecece;
}
.e-m-android.e-m-pagertype-scrollable .e-m-grid-ptxt .e-m-page-num,
.e-m-android .e-m-grid-ptxt {
  color: #333333;
}
.e-m-android .e-m-grid-header .e-m-grid-fbardiv input {
  border-color: #aaaaaa;
  color: #333333;
}
.e-m-android .e-m-grid-table tr:nth-child(2n),
.e-m-android.e-m-pagertype-scrollable .e-m-grid-ptxt .e-m-page-num {
  background: #efefef;
}
.e-m-android .e-m-grid-pwrapper {
  background: #cecece;
}
.e-m-android .e-m-grid-rowcell,
.e-m-android .e-m-grid-emptycell,
.e-m-android .e-m-grid-hdrcell,
.e-m-android.e-m-pagertype-scrollable .e-m-grid-ptxt .e-m-page-num {
  border-color: #aaaaaa;
}
.e-m-android.e-m-pagertype-scrollable .e-m-grid-ptxt .e-m-page-num,
.e-m-android .e-m-grid-pwrapper .e-m-fontimage {
  box-shadow: 0 0 0 #5d5d5d;
  background-color: #969696;
}
.e-m-android.e-m-grid-core .e-m-fontimage.e-m-state-active {
  background-color: #303f9f;
}
.e-m-android .e-m-grid-inrpgr .e-m-grid-prev,
.e-m-android .e-m-grid-inrpgr .e-m-grid-next,
.e-m-android .e-m-grid-inrpgr .e-m-grid-first,
.e-m-android .e-m-grid-inrpgr .e-m-grid-last,
.e-m-android.e-m-grid-core .e-m-fontimage {
  color: black;
}
.e-m-android .e-m-grid-inrpgr .e-m-grid-hprev,
.e-m-android .e-m-grid-inrpgr .e-m-grid-hnext,
.e-m-android .e-m-grid-inrpgr .e-m-grid-hfirst,
.e-m-android .e-m-grid-inrpgr .e-m-grid-hlast,
.e-m-android.e-m-grid-core .e-m-state-active .e-m-fontimage,
.e-m-android.e-m-grid-core .e-m-state-active.e-m-fontimage {
  color: #333333;
}
.e-m-android .e-m-grid-inrpgr .e-m-grid-dprev,
.e-m-android .e-m-grid-inrpgr .e-m-grid-dnext,
.e-m-android .e-m-grid-inrpgr .e-m-grid-dfirst,
.e-m-android .e-m-grid-inrpgr .e-m-grid-dlast {
  color: lightgray;
}
.e-m-android.e-m-grid-colnavcontainer .e-m-btnwrapper {
  left: 0;
  top: 0;
}
.e-m-android.e-m-grid-colnavcontainer .e-m-btnwrapper:last-child {
  left: 0;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-android.e-m-lv .e-m-lv-group {
  background-color: #5c6bc0;
}
.e-m-android.e-m-lv .e-m-lv-content {
  box-shadow: 0px 0px rgba(0, 0, 0, 0.2);
  color: black;
}
.e-m-android.e-m-lv .e-m-lv-image {
  box-shadow: 0px 0px rgba(0, 0, 0, 0.2);
}
.e-m-android.e-m-lv .e-m-lv-item {
  background-color: white;
}
.e-m-android.e-m-lv .e-m-lv-active {
  background-color: #303f9f;
}
.e-m-android.e-m-lv .e-m-lv-active .e-m-lv-content {
  color: white;
}
.e-m-android.e-m-lv .e-m-lv-slideitem .e-m-lv-delete {
  color: black;
  background-color: white;
}
.e-m-android.e-m-lv .e-m-lv-content::after {
  background-color: #303f9f;
  color: black;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-android.e-m-menu {
  border-color: gainsboro;
  background-color: white;
}
.e-m-android.e-m-menu.e-m-menu-actionsheet {
  border-color: transparent;
  background-color: transparent;
}
.e-m-android.e-m-menu.e-m-menu-actionsheet .e-m-menuitem.e-m-state-default,
.e-m-android.e-m-menu.e-m-menu-actionsheet .e-m-menu-btn.e-m-menu-cancelbtn,
.e-m-android.e-m-menu.e-m-menu-actionsheet .e-m-menuscrollwrapper {
  background-color: white;
}
.e-m-android.e-m-menu .e-m-menuitem.e-m-state-default {
  border-bottom-color: gainsboro;
}
.e-m-android.e-m-menu.e-m-menu-popover div.e-m-icon-arrow:before {
  color: white;
}
.e-m-android.e-m-menu .e-m-menu-title,
.e-m-android.e-m-menu.e-m-menu-actionsheet .e-m-menu-title {
  color: black;
  background-color: white;
}
.e-m-android.e-m-menu.e-m-menu-popover {
  background-color: white;
}
.e-m-android.e-m-menu.e-m-menu-actionsheet .e-m-menu-btn,
.e-m-android.e-m-menu .e-m-menu-btn {
  color: black;
}
.e-m-android.e-m-menu .e-m-menuitem.e-m-state-active,
.e-m-android .e-m-menu-btn.e-m-menu-cancelbtn.e-m-state-active,
.e-m-android.e-m-menu.e-m-menu-actionsheet .e-m-menuitem.e-m-state-active,
.e-m-android.e-m-menu.e-m-menu-actionsheet .e-m-menu-btn.e-m-menu-cancelbtn.e-m-state-active {
  background-color: #303f9f;
}
.e-m-android.e-m-menu .e-m-menuitem.e-m-state-active .e-m-menu-btn,
.e-m-android.e-m-menu .e-m-menu-btn.e-m-menu-cancelbtn.e-m-state-active {
  color: white;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-android.e-m-sbw .e-m-sb {
  background-color: gainsboro;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-android .e-m-pane.e-m-sp-right,
.e-m-android .e-m-pane.e-m-sp-left {
  border-color: gainsboro;
}
.e-m-android.e-m-splitpane .e-m-pane {
  background-color: white;
  color: black;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-radialmenu.e-m-android .e-m-radialdefault {
  fill: #f3f4f4;
}
.e-m-radialmenu.e-m-android .e-m-badgecircle {
  fill: #52bbea;
}
.e-m-radialmenu.e-m-android .e-m-badgetext {
  fill: white;
}
.e-m-radialmenu.e-m-android .e-m-radialactive {
  fill: #52bbea;
  stroke: #999999;
}
.e-m-radialmenu.e-m-android .e-m-radialarcactive {
  fill: #52bbea;
  stroke: transparent;
}
.e-m-radialmenu.e-m-android .e-m-radialdefault,
.e-m-radialmenu.e-m-android .e-m-radialcircle {
  stroke: #999999;
}
.e-m-radialmenu.e-m-android .e-m-radialcircle {
  fill: #f3f4f4;
}
.e-m-radialmenu.e-m-android .e-m-radialarcdefault {
  fill: #c5e3f7;
  stroke: transparent;
}
.e-m-radialmenu.e-m-android .e-m-radial {
  border: 1px solid #999999;
}
.e-m-radialmenu.e-m-android .e-m-badgecircle {
  stroke: white;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-android.e-m-rotator .e-m-pager .e-m-sv-pager.e-m-active {
  background-color: #303f9f;
}
.e-m-android.e-m-rotator .e-m-pager .e-m-sv-pager {
  background-color: white;
  border-color: gainsboro;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-slider.e-m-android.e-m-horizontal .e-m-slider-outer {
  background-color: #3a3a3a;
}
.e-m-slider.e-m-android.e-m-vertical .e-m-slider-outer {
  background-color: #3a3a3a;
}
.e-m-slider.e-m-android.e-m-horizontal .e-m-slider-inner {
  background-color: #33b5e5;
}
.e-m-slider.e-m-android.e-m-vertical .e-m-slider-inner {
  background-color: #33b5e5;
}
.e-m-slider.e-m-android .e-m-slider-handleout {
  border-radius: 50%;
  background-color: rgba(51, 181, 229, 0.6);
}
.e-m-slider.e-m-android .e-m-slider-handleout.e-m-state-active {
  border-style: solid;
  border-radius: 50%;
  border-width: 2px;
  border-color: #33b5e5;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
}
.e-m-slider.e-m-android .e-m-slider-handlein {
  border-style: solid;
  border-radius: 50%;
  border-color: #33b5e5;
  background-color: #33b5e5;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-android.e-m-grpbtn {
  color: white;
  background-color: #5c6bc0;
}
.e-m-android.e-m-grpbtn .e-m-btn {
  border-color: gainsboro;
}
.e-m-android.e-m-grpbtn .e-m-btn.e-m-active {
  color: white;
  background-color: #303f9f;
  border-color: gainsboro;
}
.e-m-android.e-m-grpbtn .e-m-btn:first-child {
  border-left-color: gainsboro;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-android.e-m-tbutton {
  border-color: gainsboro;
  background-color: white;
}
.e-m-android.e-m-tbutton .e-m-tslider {
  background-color: gainsboro;
  border-color: gainsboro;
}
.e-m-android.e-m-tbutton.e-m-state-active {
  background-color: rgba(48, 63, 159, 0.2);
}
.e-m-android.e-m-tbutton .e-m-tslider.e-m-state-active {
  background-color: #303f9f;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-tab.e-m-android .e-m-tab-badge.e-m-state-active::after {
  background-color: white;
  color: black;
}
.e-m-tab.e-m-android .e-m-tab-badge::after {
  background-color: #303f9f;
  color: black;
}
.e-m-tab.e-m-android.e-m-tab-bottom {
  border-top: 2px solid gainsboro;
}
.e-m-tab.e-m-android.e-m-tab-top {
  border-bottom: 2px solid gainsboro;
}
.e-m-tab.e-m-android.e-m-tab-top .e-m-tab-item.e-m-state-active {
  border-bottom: 2px solid gainsboro;
}
.e-m-tab.e-m-android.e-m-tab-bottom .e-m-tab-item.e-m-state-active {
  border-top: 2px solid gainsboro;
}
.e-m-tab.e-m-android .e-m-tab-item {
  background-color: #5c6bc0;
  color: white;
}
.e-m-tab.e-m-android .e-m-state-active {
  color: white;
  background-color: #303f9f;
}
.e-m-tab.e-m-android {
  background-color: #5c6bc0;
  color: white;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-android.e-m-timepicker {
  color: black;
  border-color: gainsboro;
}
.e-m-android.e-m-tp-dialog.e-m-dialog .e-m-tp-header {
  background-color: #5c6bc0;
  border-color: gainsboro;
}
.e-m-android.e-m-tp-dialog.e-m-dialog .e-m-tp-header .e-m-tp-time {
  color: white;
}
.e-m-android.e-m-tp-dialog.e-m-dialog .e-m-tp-header .e-m-tp-mer .mer {
  color: black;
}
.e-m-android.e-m-tp-dialog.e-m-dialog .e-m-tp-header .e-m-tp-mer .mer.e-m-state-active {
  color: white;
}
.e-m-android.e-m-tp-dialog .e-m-tpwrap .e-m-text.e-m-text-active {
  color: white;
  background-color: #303f9f;
}
.e-m-android.e-m-tp-dialog.e-m-dialog .e-m-dlgbtnwrapper {
  border-top-color: gainsboro;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-android.e-m-editor.e-m-input-wrapper,
.e-m-android.e-m-editor.e-m-input-wrapper .e-m-textbox {
  border-color: gainsboro;
}
.e-m-android.e-m-editor.e-m-input-wrapper,
.e-m-android.e-m-editor.e-m-input-wrapper .e-m-textbox,
.e-m-android.e-m-editor.e-m-input-wrapper span {
  background-color: white;
}
.e-m-android.e-m-editor.e-m-input-wrapper,
.e-m-android.e-m-editor.e-m-input-wrapper .e-m-textbox {
  color: black;
}
.e-m-android.e-m-editor.e-m-input-wrapper:focus,
.e-m-android.e-m-editor.e-m-input-wrapper.focus {
  border-color: gainsboro;
}
.e-m-android.e-m-editor.e-m-input-wrapper span[class^='e-m-icon-']:active,
.e-m-android.e-m-editor.e-m-input-wrapper span[class*='e-m-icon-']:active {
  color: #303f9f;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-android.e-m-datepickerwrapper .e-m-datepicker,
.e-m-android.e-m-dp .e-m-dp-header {
  color: black;
  border-color: gainsboro;
}
.e-m-android.e-m-dp .e-m-dpinner .e-m-android-overlay {
  border-color: gainsboro;
}
.e-m-android.e-m-dp .e-m-dpinner .e-m-dp-overlay {
  border-color: #5c6bc0;
}
.e-m-android.e-m-dp .e-m-dpinner .e-m-text {
  color: gainsboro;
}
.e-m-android.e-m-dp .e-m-dpinner .e-m-text.e-m-text-active {
  color: black;
  background-color: white;
  border-color: white;
}
.e-m-android.e-m-dp .e-m-dpinner .e-m-text.e-m-text-disabled {
  color: none;
}
.e-m-android.e-m-dp,
.e-m-android.e-m-dp-tb {
  background-color: white;
}
.e-m-android.e-m-dp-tb.e-m-navbar .e-m-navbar-icon {
  color: black;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-tile.e-m-android .e-m-tile-selected:after {
  border-color: #303f9f;
  background-color: #303f9f;
  border-left-color: transparent;
}
.e-m-tile.e-m-android .e-m-tile-selected {
  border-color: gainsboro;
}
.e-m-tile.e-m-android .e-m-tile-selected::before {
  background-color: transparent;
  border-left-color: white;
  border-bottom-color: white;
}
.e-m-android.e-m-tile.e-m-tile-badge.e-m-tile-small.e-m-caption-outer.e-m-badge-position-bottomright::after,
.e-m-android.e-m-tile.e-m-tile-badge.e-m-tile-small.e-m-caption-outer.e-m-badge-position-topright::after {
  background-color: #303f9f;
}
.e-m-android.e-m-tile-caption-text.e-m-caption-innerbottom::before,
.e-m-android.e-m-tile-caption-text.e-m-caption-innertop::before {
  background-color: rgba(0, 0, 0, 0.5);
}
.e-m-android.e-m-tile.e-m-state-active .e-m-tile-overlay {
  background-color: #303f9f;
}
.e-m-android.e-m-tile.e-m-tile-badge::after,
.e-m-android.e-m-tile-caption::before {
  color: white;
}
.e-m-android.e-m-tile-caption-text.e-m-caption-outer::before {
  color: black;
}

/* control */
/*Datepicker*/
/*Timepicker*/
/* Grid */
/* Radial Menu */
/* Slider Control */
/*Tile*/
/*Radial Slider start*/
/*Radial Slider end*/
/* Grid */
.e-m-radialslider.e-m-android .e-m-ticks-text,
.e-m-radialslider.e-m-android .e-m-dynamic-text {
  fill: black;
}
.e-m-radialslider.e-m-android .e-m-rs-circle-default {
  fill: darkgray;
  stroke: darkgray;
}
.e-m-radialslider.e-m-android .e-m-rs-fill-circle {
  fill: #33b5e5;
  stroke: #33b5e5;
}
.e-m-radialslider.e-m-android .e-m-rs-marker {
  fill: #33b5e5;
}
.e-m-radialslider.e-m-android .e-m-marker-large {
  fill: rgba(51, 181, 229, 0.6);
}
